.btn-call {

  span {
    padding-left: 24px;
    display: inline-block;
    position: relative;

    &:before {
      content: "";
      width: 18px;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      background: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.btn-primary {
    span:before {
      background-image: url('../../images/phone-up-colored@2x.png');
      background-image: linear-gradient(transparent, transparent), url('../../images/phone-up-colored.svg');
      background-size: 16px;
    }
  }
  &.btn-danger {
    span:before {
      background-image: url('../../images/phone-down-colored@2x.png');
      background-image: linear-gradient(transparent, transparent), url('../../images/phone-down-colored.svg');
      background-size: 18px 7px;
    }
  }
}
