.has-media {
	background: $bg-color-main;
	padding: 0 !important;

	img {
		max-height: 100%; //148px;
		max-width: 100%; //264px;
		border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
		vertical-align: middle;
	}
}