.online-status {
  width: 9px;
  height: 9px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 100%;
  margin-top: 8px;

  &.is-offline {
    border: 1px solid $primary-gray;
  }

  &.is-online {
    background: #93CC93;
  }

  &.is-away {
    background: #F6A623;
  }

  &.is-busy {
    background: $danger-color;
  }

  &.is-error {
    background: url("../../images/error-icon@2x.png") no-repeat;
    background-size: 24px 22px;
    width: 24px;
    height: 22px;
    border-radius: 0;
    margin-top: 1px;
    position: relative;
    top: 6px;
  }
}

.nav > li > a + .online-status{
  margin: 0px 25px 0px -5px;
  position: relative;
  z-index: 1;

  &.is-error {
    margin: 0px 10px 0px -5px;
  }
}
