#activity-chart {
  background: url('../../images/activity-graph@2x.png') no-repeat;
  background-size: cover;
  width: 100%;

  &:after {
    content: "";
    padding-bottom: 40%;
    display: block;
  }
}
