.avatar {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background: $bg-color-main;
	vertical-align: bottom;

	&.avatar-left {
		margin-right: 12px;
	}
	&.avatar-right {
		margin-left: 12px;
	}

	&.avatar-lg {
		width: 50px;
		height: 50px;
	}

	&.avatar-profile {
		display: block;
		margin:10px auto; 
	}

	&.avatar-add {
		width: 64px;
		height: 64px;
		display: inline-flex;
		border: 1px solid $secondary-gray;
		background-size: cover;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 300;
		font-size: $font-size-base;
		line-height: 18px;

		&:hover {
			cursor: pointer;
			color: $primary-color;
			border-color: $primary-color;
		}

		&.has-photo > p {
			display: none;
		}
	}
}

.chat-section > .guide > .avatar, #chat .guide > .avatar {
	border: 2px solid transparent;
}
.chat-section > .doctor > .avatar, #chat .doctor > .avatar {
	border: 2px solid $primary-color;
}
.team-section > .doctor > .avatar, #team-chat .doctor > .avatar {
	border: 2px solid $team-color;
}
.advisor > .avatar {
	border: 2px solid #FFF;
}

.message.received > .avatar {
	position: absolute;
	bottom: 0;
	left: -42px;
}
.message.received:not(.last) > .avatar {
	display: none;
}
