.badge {
	background: #999;
	padding: 3px 6px;

	&.urgent {
		background: $danger-color;
	}

	img {
		width: 9px;
		height: auto;
	}

	&.badge-bubble {
		position: relative;
		border-radius: $border-radius-base $border-radius-base 0 $border-radius-base;
		background: $secondary-color;
		float: right;
		padding: 2px 5.5px;
		margin-top: 4px;
		margin-right: 4px;
		font-size: 100%;

		&:after {
			content: "";
		    position: absolute;
		    bottom: 0px;
		    right: -4px;
		    border-style: solid;
		    border-width: 0 4px 5px 0;
		    border-color: #00AAE2 transparent;
		    display: block;
		    width: 0;
		    border-radius: 0 0 $border-radius-base 0;
		}
	}
}

.navbar .badge {
	background: $primary-color;
}
