.bot-waiting {
	padding: 10px;
	color: #B2B2B2;
	background: #EEEEEE;
	font-family: "Helvetica Neue";

	> div:first-of-type {
		margin-bottom: 14px;
	}

	> div {
		margin-bottom: 10px;
	}

	.btn {
		width: 150px;
		padding: 10px 0;
		font-size: 17px;
		line-height: 20px;
		margin-right: 10px;
	}

	p {
		font-style: italic;
		font-size: 14px;
		line-height: 16px;
	}

	.icon {
		margin-right: 6px;
	}
}