.bot-note {
	position: relative;
	padding: 44px 30px 0;
	text-align: center;

	&:before {
		content: '';
		display: block;
		width: 22px;
		height: 22px;

		position: absolute;
		top: 11px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}


	&.caution {
		&:before {
			@include iconBackground('caution-icon');
			background-position: center;
			background-size: contain;
		}
	}

	&.danger {
		background: #FFEFEF;
		border: 1px solid #E9CECE;

		&:before {
			@include iconBackground('warning-icon');
			background-position: center;
			background-size: contain;
		}
	}

	&.dialogue {
		&:before {
			@include iconBackground('bot-dialogue-icon');
			background-position: center;
			background-size: contain;
		}
	}

	&.dialogue, &.caution {
		background: #FFF7EF;
		border: 1px solid #E9DDCE;
	}

	.note-title {
		font-weight: bold;
	}

	p {
		color: #223A4F;
		font-size: 14px;
	}

	> div {
		margin-bottom: 10px;
	}

	> div + div {
		margin-top: 10px;
	}

	.foot-note {
		color: #97A9BB;
		font-size: 11px;
	}
}