.bubble {
	padding: 8px;
	border-radius: 24px;
	color: #FFF;
	max-width: 332px;
	position: relative;
	width: 96px;
	height: 48px;

	&, &:after, &:before {
		background: $bg-color-main;
	}

	&:after, &:before {
		content: '';
		border-radius: 100%;
		position: absolute;
	}

	&:after {
		width: 12px;
		height: 12px;
	}

	&:before {
		width: 6px;
		height: 6px;
	}

	div {
		display: inline-block;
		line-height: 18px;
		outline: none;
	}

	p {
		margin: 6px 16px;
		float: left;
		background: none;
		border: none;
	}

	img {
		position: absolute;
		width: 32px;
		height: 32px;
		right: 8px;
		bottom: 7px;
	}
}

.received .bubble {
	&:after {
		bottom: 0px;
		left: 0px;
	}

	&:before {
		bottom: -5px;
		left: -5px;
	}
}

.sent .bubble {
	&:after {
		bottom: 0px;
		right: 0px;
	}

	&:before {
		bottom: -5px;
		right: -5px;
	}
}
