.btn {
    &:focus {outline:0;}

    &.btn-o {
        &, &:focus, &:active{
            background: $bg-color-main;
        }
    }

    &.btn-primary {
        border: 1px solid $primary-color;
        color: $primary-color;
    }
    &.btn-secondary {
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 3px;
        background: #FFF;
    }
    &.btn-negative {
        border: none;
        color: $primary-gray;
    }
    &.btn-danger {
        border: 1px solid $danger-color;
        color: $danger-color;
    }
}
