.call-status {
	padding: 9px;
	font-size: 14px;

	img {
		width: 20px;
		display: inline-block;
	}

	p {
		display: inline-block;
	}

	.error {
		position: relative;
		cursor: pointer;

		p {
			margin-right: 10px;
		}

		p, img {
			vertical-align: middle;
		}

		.loading {
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: middle;
		}
	}
}