.single-choice, .multiple-choice {
	li, input {
		background: $opac-color;
		color: $primary-color;
		border-radius: $border-radius-base;
		height: 46px;
		line-height: 46px;
		text-align: center;
	}

	input {
		display: block;
		width: 100%;
		background: none;
		border: 1px dashed $primary-color;
		outline: none;
		
	}

	input::placeholder {
		color: rgba(0,184,252,.4);
	}
}

.single-choice {
	li {
		background: #FFF;
		border: 1px solid $bg-color-main;
		color: $primary-color;
	}
}
