.controls {
	border-top: 1px solid #D8D8D8;
	margin-left: -10px;
	margin-right: -10px;
	padding: 0 10px;

	input {
		height: 32px;
		border: 1px solid #CCCCCC;
		border-radius: 3px;

		padding: 8px 5px;
		margin-right: 8px;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	.range-step {
		font-weight: 300;
		
		width: 32px;
		height: 32px;
		margin: 0 auto;

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	.range-settings {
		display: flex;
		
		input:last-of-type {
			margin-right: 0;
		}

		input[type="number"]{
			width: 32px;
			text-align: center;
		}

		input[type="text"] {
			flex-grow: 1;
		}

		.min {
			text-align: left;
		}

		.max {
			text-align: right;
		}
	}

	.multiple-choice {
		input {
			margin-left: 0;
			margin-right: 0;
			padding: 0 5px;
			height: auto;
			border: 1px dashed rgba(0,184,252,.4);
			color: rgba(0, 184, 252, 1);
			background: none;
		}

		input::placeholder {
			color: rgba(0, 184, 252, .4);
		}
	}

	.video-question {
		input {
			width: 100%;
			margin-right: 0;
			margin-top: 10px;
		}

		.input-icon {
			margin-top: 10px;

			input {
				margin-top: 0;
			}
		}
	}

	.video {
		position: relative;
		min-width: 100%;
		height: 225px;
		margin: 0 -10px;
		background: #000;

		&.has-video {
			background: none;
			height: auto;
		}

		img {
			max-height: 100%;
			margin-bottom: 0 !important;
		}

		.play-button {
			width: 64px !important;
			height: 64px;
			margin: auto;
			position: absolute;
			top: calc(50% - 32px); /* 50% - half the height of the image*/
			left: 0;
			right: 0;
		}
	}
}