.date-selector {
	display: inline-block;

	span {
		display: inline-block;
	}

	.past, .future {
		width: 16px;
		height: 20px;
		margin-bottom: -5px;
	}

	.past {
		@include backgroundImage('arrow-left');
		margin-right: 5px;
	}

	.future {
		@include backgroundImage('arrow-right');
		margin-left: 5px;
	}
}