.duration-information {
  font-size: $font-size-small;
  color: $primary-gray;
  text-align: center;
  position: relative;
  display: block;
  margin-bottom: 8px;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   height: 16px;
  //   width: 16px;
  //   border-radius: 100%;
  //   background: $primary-gray;
  //   background-image: url('../../images/phone-up-small@2x.png');
  //   background-image: linear-gradient(transparent, transparent), url('../../images/phone-up.svg');
  //   background-repeat: no-repeat;
  //   background-position: 55% 45%;
  //   background-size: 9px 9px;
  // }

  & .icon {
    margin-right: 4px;
    margin-bottom: -4px;

    &.i-play:hover {
      cursor: pointer;
      background-color: $secondary-color;
    }
  }

  &.called {

    &:before {
      background: $primary-color;
      background-image: url('../../images/play@2x.png');
      background-image: linear-gradient(transparent, transparent), url('../../images/play.svg');
      background-repeat: no-repeat;
      background-position: 55% 45%;
      background-size: 6px 7px;
    }
  }
}
