.empty {
	display: block;
	height: 32px;
	width: 32px;
	border-radius: 100%;
	background: $secondary-color url('../../images/close.png') center no-repeat;
	position: absolute;
	left: -50px;
	top: 8px;;
}