form {
  &.form-sm {
    max-width: 200px;
  }

  &.form-center {
    margin: 0 auto;
  }

  .form-control, .input-group-addon {
    border-radius: $border-radius-base;
    padding: 6px 10px;
  }

  .input-sm {
    height: 32px;
  }

  label {
    color: $primary-gray;
    text-transform: capitalize;
    margin-bottom: 4px;
  }

  .btn {
    font-weight: 300;
    font-size: $font-size-base;
  }
}

.form-group {
  align-items: center;
  font-weight: 300;
  font-size: $font-size-base;

  &.group > * {
    float: left;
  }

  &.flex > * + * {
    margin-left: 10px;
  }

  &.flex > .btn {
    flex: 1;
  }

  > .group-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 18px;
  }
}
