$icon-size-sm: 16px;
$icon-size-lg: 32px;

.icon {
  display: inline-block;;

  &.i-circle-action {
    border-radius: 100%;
    background-color: $primary-color;
  }
  &.i-circle-inactive {
    border-radius: 100%;
    background: $primary-gray;
  }

  &.i-phone {
    background-image: url('../../images/call-icon-inactive@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/call-icon-inactive.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14.78px;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.i-phone-active {
      background-image: url('../../images/call-icon@2x.png');
      background-image: linear-gradient(transparent, transparent), url('../../images/call-icon.svg');
    }

    &.i-phone-urgent {
      background-image: url('../../images/call-urgent-icon@2x.png');
      background-image: linear-gradient(transparent, transparent), url('../../images/call-urgent-icon.svg'); 
    }
  }

  &.i-play {
    background-image: url('../../images/play@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/play.svg');
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 6px 7px;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-phone-up {
    background-image: url('../../images/phone-up-small@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/phone-up.svg');
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 9px;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-send {
    background-image: url('../../images/send-icon@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/send-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: $icon-size-sm;
    height: $icon-size-sm;
    border-radius: 3px;
    position: relative;
  }

  &.i-chat {
    background-image: url('../../images/chat-icon@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/chat-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-chat-grey {
    @include iconBackground('chat-icon-grey');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-team {
    background-image: url('../../images/team-icon@2x.png');
    //background-image: linear-gradient(transparent, transparent), url('../../images/team-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-save {
    background-image: url('../../images/save-icon@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/save-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-save-grey {
    @include iconBackground('save-icon-grey');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-save-confirmed-grey {
    @include iconBackground('save-confirmed-icon-grey');
    background-repeat: no-repeat;
    background-position: 60% 45%;
    background-size: 60% 60%;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-meds {
    @include iconBackground('meds-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('meds-icon-active');
    }
  }

  &.i-food {
    @include iconBackground('food-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('food-icon-active');
    }
  }

  &.i-sleep {
    @include iconBackground('sleep-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('sleep-icon-active');
    }
  }

  &.i-walking {
    @include iconBackground('walking-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('walking-icon-active');
    }
  }

  &.i-graph {
    @include iconBackground('graph-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('graph-icon-active');
    }
  }

  &.i-learning {
    @include iconBackground('learning-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('learning-icon-active');
    }
  }

  &.i-create {
    @include iconBackground('create-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('create-icon-active');
    }
  }

  &.i-general {
    @include iconBackground('general-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('general-icon-active');
    }
  }

  &.i-duration {
    @include iconBackground('duration-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-cancel {
    @include iconBackground('cancel-icon');
    background-position: center;
    background-size: 55% 45%;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.i-large {
      width: $icon-size-lg;
      height: $icon-size-lg;
    }
  }

  &.i-bot-alert {
    @include iconBackground('bot-alert-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }


  &.i-pick {
    @include iconBackground('pick-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-lg;
    height: $icon-size-lg;

    &.active {
      @include iconBackground('pick-icon-active');
    }
  }

  &.i-graph-image {
    @include iconBackground('graph-image-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-lg;
    height: $icon-size-lg;
  }

  &.i-bot-option {
    @include iconBackground('bot-option-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-lg;
    height: $icon-size-lg;

    &.active {
      @include iconBackground('bot-option-icon-active');
    }
  }

  &.i-choose {
    @include iconBackground('choose-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-lg;
    height: $icon-size-lg;

    &.active {
      @include iconBackground('choose-icon-active');
    }
  }

  &.i-video {
    @include iconBackground('video-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-lg;
    height: $icon-size-lg;

    &.active {
      @include iconBackground('video-icon-active');
    }
  }

  &.i-slide {
    @include iconBackground('slide-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-lg;
    height: $icon-size-lg;

    &.active {
      @include iconBackground('slide-icon-active');
    }
  }

  &.i-letter {
    @include iconBackground('letter-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('letter-icon-active');
    }
  }

  &.i-number {
    @include iconBackground('number-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('number-icon-active');
    }
  }

  &.i-picker {
    @include iconBackground('picker-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('picker-icon-active');
    }
  }

  &.i-play-button {
    @include iconBackground('play-button-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('play-button-icon-active');
    }
  }

  &.i-range {
    @include iconBackground('range-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('range-icon-active');
    }
  }

  &.i-select-all {
    @include iconBackground('select-all-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('select-all-icon-active');
    }
  }

  &.i-view-image {
    @include iconBackground('view-image-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;

    &.active {
      @include iconBackground('view-image-icon-active');
    }
  }

  &.i-interaction-bot {
    @include iconBackground('interaction-bot-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }



  &.i-add {
    @include iconBackground('add-icon');
    background-position: center;
    background-size: 55% 45%;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-expand {
    @include iconBackground('expand-icon');
    background-position: center;
    background-size: 55% 45%;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-trash {
    @include iconBackground('trash-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-refresh {
    @include iconBackground('refresh-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-refresh-blue {
    @include iconBackground('refresh-icon-blue');
    background-position: center;
    background-size: contain;
    width: 11px;
    height: 11px;
  }

  &.i-advance {
    @include iconBackground('advance-icon');
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 10px;
  }

  &.i-advance-grey {
    @include iconBackground('advance-grey-icon');
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 10px;
  }

  &.i-upload {
    @include iconBackground('upload-icon');
    background-position: center;
    background-size: 55% 45%;
  }

  &.i-bot {
    @include iconBackground('bot-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-bot-wave {
    @include iconBackground('bot-wave-icon');
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
  }

  &.i-calendar {
    @include iconBackground('calendar-icon');
    background-position: center;
    background-size: 55% 75%;
  }

  &.i-plus {
    @include iconBackground('plus-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.i-clock {
    @include iconBackground('clock-icon');
    background-position: center;
    background-size: 55% 75%;
  }

  &.i-report {
    @include iconBackground('report-icon');
    background-position: center;
    background-size: contain;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }
}

.nav-pills li a:hover > .icon, .nav-pills li a:focus > .icon, .nav-pills li a:active > .icon, .nav-pills li.active a > .icon {
  &.i-phone:not(.i-phone-urgent) {
    background-image: url('../../images/call-icon-white@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/call-icon-white.svg');
  }
}
