.icon-menu-container {
	.share {
		float: right;

		.icon-menu {
			font-size: 14px;
			right: 0;
			min-width: 130px;
		}
	}

	.i-addon {
		position: absolute;
		top: 2px;
		left: 15px;
	}
}

.icon-menu {
	padding: 5px;
	display: none;
	white-space: nowrap;

	position: absolute;

	background: #FFF;

	border: 1px solid rgba(0,0,0,.1);
	border-radius: 3px;
	box-shadow: 0 5px 7px rgba(0,0,0,.20);
	z-index: 2;

	li:last-child a {
		margin-bottom: 0;
	}

	.icon {
		margin-right: 9px;
		margin-bottom: -3px;
	}

	a {
		display: block;
		position: relative;

		color: #000;
		padding: 5px;
		margin-bottom: 3px;

		text-decoration: none;
		text-align: left;

		border-radius: 3px;

		&:hover {
			background: rgba(70,206,252,.2);	
		}
	}

	&.tag {
		.active {
			font-weight: bold;
		}

		.icon {
			margin-bottom: -3px;
		}
	}

	.submenu {
		position: static;

		> a {
			padding-right: 25px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 8px;
				right: 5px;

				@include iconBackground('expand-icon');
				background-position: center;
				background-size: contain;
				width: 10px;
				height: 10px;
			}
		}

		&:hover {

			> a span {
				color: #23CBFF;
			}

			ul {
				display: block;
				z-index: 10;
			}

			> a:after {
				@include iconBackground('expand-icon-active');
			}
		}


	}

	ul {
		display: none;
		padding: 5px;
		/*max-width: 250px;*/

		position: absolute;
		top: 0;
		left: calc(100% + 10px);

		background: #FFF;

		border: 1px solid rgba(0,0,0,.1);
		border-radius: 3px;
		box-shadow: 0 5px 7px rgba(0,0,0,.20);
	}

	.divider {
		overflow: hidden;
		margin: 15px 0 10px;

		span {
			position: relative;
			display: inline-block;
			width: 100%;
			text-align: center;

			&:after, &:before {
				content: "";
			    position: absolute;
			    top: 50%;
			    width: 9999px;
			    height: 1px;
			    background: #B2B2B2;
			}

			&:before {
				right: 54%;
				margin-right: 10px;
			}

			&:after {
				left: 54%;
				margin-left: 10px;
			}
		}

		img {
			width: 24px;
			height: 24px;
			border-radius: 100%;
		}
	}
}

.list-title {
	margin: 5px;
	opacity: .3;

	&:not(:first-child) { 
		margin-top: 20px;
	}
}