.icon-button {
	padding: 16px;
	position: relative;
	border-radius: 3px;

	&:after {
		content: '' ;
		display: none;
		position: absolute ; 
	    top: 0 ; 
	    bottom: 0 ; 
	    left: 0 ; 
	    right: 0 ; 
	    border-radius: 3px ; 
	    border: 1px solid #ccc ; 
	}

	&:hover:after{ 
	    display: block;     
	}

	&.active {
		background-color: $primary-color;
	}

	&.active:hover:after {
		display: none;
	}

	&.i-send.active {
		@include iconBackground('send-icon-active');
	}

	&.i-add.active {
		@include iconBackground('add-icon-active');
	}

	&.i-save-grey.active {
		@include iconBackground('save-icon-active');
	}

	&.i-calendar.active {
		@include iconBackground('calendar-icon-active');
	}
}