.info-table {
  font-size: $font-size-base;
  margin: 8px 8px 0 8px;

  th {
    text-transform: uppercase;
    color: $primary-gray;
    padding: 8px 16px 8px 0;
  }
  td {
    padding: 8px 16px 8px 0;
  }
  tr.inactive > th, tr.inactive > td {
    color: $primary-gray;
  }
}
