.label-input {
	position: relative;

	span {
		position: absolute;
		top: 8px;
		right: calc(100% + 10px);
		color: rgba(85,85,85,.54);
		white-space: nowrap;
	}

	input {
		font-weight: normal;
		color: #000;
		width: 100%;
		height: 100%;
		border: 1px solid #CCCCCC;
		border-radius: 3px;
		text-align: center;
	}
}