
.loading {
	@include iconBackground('loading');
	background-size: contain;
	animation-name: loadingSpin;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-moz-keyframes loadingSpin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes loadingSpin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes loadingSpin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}