.message {
	position: relative;
	margin: 5px;

	&:after, &:before {
		content: " ";
    	display: table;
	}

	&:after {
		clear: both;
	}

	.name {
		position: relative;
		display: none;
		font-size: $font-size-small;
		margin-bottom: 4px;
		color: $primary-gray;
	}

	.message-body {
		display: block;
		position: relative;
		padding: 14px 16px;
		font-size: $font-size-base;
		font-weight: 300;
		max-width: 85%;
		width: fit-content;
		background: $bg-color-main;
		border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
		box-shadow: 0 1px 1px 0 rgba(164,152,135,0.32);
	}

	.message-media {
		background: #FFF;
		padding: 0;

		img {
			max-height: 100%; //148px;
			max-width: 100%; //264px;
			border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
			vertical-align: middle;
		}
	}
}

.message.last + .message > .name, .time-stamp + .message > .name {
	display: block;
}

.chat-section > .doctor > .name, #chat .message.doctor > .name {
	color: $primary-color;
}
.team-section > .doctor > .name, #team-chat .message.doctor > .name {
	color: $team-color;
}

.received {
	margin-left: 42px;

	& + .sent {
		margin-top: 16px;
	}

	.message-body {
		border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
		float: left;
	}
}

.sent {
	margin-right: 8px;

	& + .received {
		margin-top: 16px;
	}

	.message-body.message-media {
		padding: 0;
		background: $bg-color-main;
	}

	.message-body {
		border-radius: $border-radius-base $border-radius-base 0 $border-radius-base;
		float: right;
		background: $secondary-color;
		color: #FFF;
		margin-right: 10px;
	}

	.image-title {
		border-radius: $border-radius-base $border-radius-base 0 0;
		background: $secondary-color;
		padding: 8px 16px;
	}

	.avatar {
		right: 0;
	}
}

#team-chat, .team-section {
	.sent {
		.message-body {
			background: $bg-color-team;

		}

		.message-media {
			padding: 0;
			background: $bg-color-main;
		}

		&.last {
			> .message-body:after {
				border-color: $bg-color-team transparent;
			}

			> .message-media.message-body:after {
		    	border-color: $bg-color-main transparent;
			}
		}
	}
}

.sent.last {
	> .message-body:after {
		content: "";
    position: absolute;
    bottom: 0px;
    right: -7px;
    border-width: 0 7px 10px 0;
    border-style: solid;
    border-color: $secondary-color transparent;
    border-radius: 0 0 $border-radius-base 0;
    display: block;
    width: 0;
		box-shadow: 0 1px 0px 0 rgba(164, 152, 135, 0.2);
	}
	> .message-media.message-body:after {
    	border-color: $bg-color-main transparent;
	}
}
.received.last {
	margin-bottom: 16px;

	> .message-body:before {
		content: "";
		position: absolute;
		bottom: 0px;
		left: -7px;
		border-width: 0 0 10px 7px;
		border-style: solid;
		border-color: $bg-color-main transparent;
		border-radius: 0 0 0 $border-radius-base;
		display: block;
		width: 0;
		box-shadow: 0px 1px 0px 0 rgba(164, 152, 135, 0.2);
	}
}

@media screen and (min-width: 768px) {
	.message {
		.message-body {
			max-width: 79%;
		}
	}
}
