.nav-pills {
  padding-bottom: 8px;

  &.nav-justified {
    display: flex;

    & li {
      flex-grow: 1;
      width: auto;
    }
  }

  li {
    font-size: $font-size-base;
    background: none;
    text-align: center;
    padding: 0 4px;

    a {
      display: inline-block;
      border-radius: $border-radius-base;
      width: 100%;
      min-height: 38px;
      line-height: 26px;
      padding: 6px 8px;
      color: $primary-color;

      &:hover, &:focus {
        background: $primary-color;
        color: #FFF;

        .badge {
          background: #FFF;
          color: $primary-color;

          &.urgent {
            color: $danger-color;
          }
        }

        svg > path {
          fill: #FFF;
        }
      }

      svg {
        vertical-align: top;
        height: 26px;
      }
    }

    &.active {
      a {
        background: $primary-color;

        svg > path {
          fill: #FFF;
        }
      }

      .badge {
        color: $primary-color;
        
        &.urgent {
          color: $danger-color;
        }
      }
    }

    .uncritical {
      color: #999999;
      font-weight: bold;
    }

  }
  .badge {
    display: inline-block;
    font-weight: bold;
    height: 18px;
    min-width: 18px;
    color: #fff;
  }

  .badge, .icon {
    align-self: center;
  }

  &.nav-stacked {
    overflow-x: auto;
    overflow-y: hidden;

    li {
      padding: 0;

      a {
        display: flex;
        width: 100%;
        height: 38px;
        text-align: left;
//
//      Added to cut off long text
        /*padding-right: 45px;*/
        text-overflow: ellipsis;
        white-space: nowrap;
//
//      Alternative to cutting off text with ellipses
        // &:before {
        //   content: "";
        //   width: 50px;
        //   height: 38px;
        //   display: block;
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   border-radius: 0 $border-radius-base $border-radius-base 0;
        //   background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        //   background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        //   background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        // }
      }

      &.active a:before, & a:hover:before, & a:focus:before {
        // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#46cefc+0,46cefc+100&0+0,1+20,1+100
        background: -moz-linear-gradient(left,  rgba(70,206,252,0) 0%, rgba(70,206,252,1) 20%, rgba(70,206,252,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(70,206,252,0) 0%,rgba(70,206,252,1) 20%,rgba(70,206,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(70,206,252,0) 0%,rgba(70,206,252,1) 20%,rgba(70,206,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0046cefc', endColorstr='#46cefc',GradientType=1 ); /* IE6-9 */
      }

      span:first-child {
        /*flex-grow: 1;*/
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      span {
        margin-left: 5px;
        &.danger {
          color: $danger-color !important;
          font-weight: bold;
        }
      }
    }
  }

  > * {
    margin-bottom: 0;
  }
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, {
  background: $primary-color;
}
