.navbar {

  &.navbar-inverse {
    background: #222;

    & .navbar-nav>li>a:hover, & .navbar-nav>li>a:focus, & .navbar-nav>.active>a, & .navbar-nav>.active>a:hover, & .navbar-nav>.active>a:focus {
      background: #000;
    }
  }

  // &.navbar-fixed-top {
  //   height: 52px;
  // }

  .navbar-brand {
    height: 52px;
    line-height: 28px;
  }
  .navbar-nav>li>a {
    line-height: 28px;
  }
}
