.participant {
  text-align: center;
  min-width: 0;
  flex: 1;
  padding: 0 2px;

  .name {
    display: block;
    font-size: $font-size-base;
    line-height: 15px;
    font-weight: 300;
    color: #FFF;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .avatar {
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }
}
