.pretty-input {

	input, select {
		box-sizing: border-box;
		border: 1px solid #CCCCCC;
		border-radius: 3px;
		padding: 8px;
		height: 32px;
	}

	select {
		padding: 0 8px;
	}
	
	.side-icon {
		display: flex;

		&.right {
			input {
				border-radius: 3px 0 0 3px;
				border: 1px solid #CCCCCC;
				border-right: none;
			}

			.icon {
				border-radius:  0 3px 3px 0;
			}
		}

		&.left {
			input {
				border-radius: 0 3px 3px 0;
				border: 1px solid #CCCCCC;
				border-left: none;
			}

			.icon {
				border-radius: 3px 0 0 3px;
			}
		}

		.icon {
			
			min-width: 32px;
			height: 32px;
			padding: 8px;
			border: 1px solid #CCCCCC;
			cursor: pointer;
		}
	}

	> div {
		flex-grow: 1;
	}
}