.pretty-toggle p {
	display: inline-block;
	vertical-align: middle
}

/* toggle switch */
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
	vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	border: 1px solid #E0E0E0;
	-webkit-transition: .3s;
	transition: .3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 1px;
	bottom: .75px;
	background-color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
}

.slider.round {
	border-radius: 13px;
}

.slider.round:before {
	border-radius: 50%;
}

input:checked + .slider {
	background: #46CEFC url('../../images/checkmark@3x.png') 4px center / 30% no-repeat;
}

input:not(:checked) + .slider {
	background: #E0E0E0 url('../../images/toggled-off@2x.png') 17px center / 30% no-repeat;
}

input:focus + .slider {
	box-shadow: 0 0 1px #46CEFC;
}

input:checked + .slider:before {
	-webkit-transform: translateX(13px);
	transform: translateX(13px);
}