.range {
	margin: 0 5px;

	input[type=range] {
		-webkit-appearance: none;
		margin: 18px 0;
		width: 100%;
		background: transparent;
		outline: none;
		border: none;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: none;
		background: $opac-color;
		border-radius: 25px;
		border: none;
	}

	input[type=range]::-webkit-slider-thumb {
		box-shadow: none;
		border: none;
		height: 28px;
		width: 28px;
		border-radius: 100%;
		background: $primary-color url("../../images/slider-hamburger.png") center / 8px 6px no-repeat;
		cursor: pointer;
		margin-top: -10px;
		-webkit-appearance: none;
	}

	input[type=range]::-moz-range-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		box-shadow: none;
		background: $opac-color;
		border-radius: 25px;
		border: none;
	}

	input[type=range]::-moz-range-thumb {
		box-shadow: none;
		border: none;
		height: 32px;
		width: 32px;
		border-radius: $border-radius-base;
		background: $primary-color url("../../images/slider-hamburger.png") center / 8px 6px no-repeat;
		cursor: pointer;
		margin-top: -10px;
	}

	input[type=range]::-ms-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		background: $opac-color;
		border-color: transparent;
		border-width: 16px 0;
		color: transparent;
	}

	input[type=range]::-ms-fill-lower {
		background: #2a6495;
		border: none;
		border-radius: 2.6px;
		box-shadow: none;
	}

	input[type=range]::-ms-fill-upper {
		background: #3071a9;
		border: none;
		border-radius: 2.6px;
		box-shadow: none;
	}

	input[type=range]::-ms-thumb {
		box-shadow: none;
		border: none;
		height: 32px;
		width: 32px;
		border-radius: $border-radius-base;
		background: $primary-color url("../../images/slider-hamburger.png") center / 8px 6px no-repeat;
		cursor: pointer;
		margin-top: -10px;
	}
}
