.schedule-interaction {
	.pretty-toggle {
		margin-top: 15px;
		font-size: 12px;

		label {
			margin: 0 5px 0 0;
		}
	}
	
	.pretty-input {
		margin-top: 10px;

		> div + div {
			margin-left: 10px;
		}
	}
	
	input {
		width: calc(100% - 32px);
	}

	.cancel {
		margin-bottom: -10px;
		margin-left: -10px;
	}
}