.search-box {
  display: flex;

  input {
    flex: 1;
    font-size: $font-size-base;
    padding-left: 8px;

    &[type="search"] {
      width: 150px;
      border: 1px solid #CCC;
      border-right: none;
      border-radius: $border-radius-base 0 0 $border-radius-base;
    }

    &[type="submit"] {
      flex-shrink: 0;
      height: 32px;
      width: 32px;
      border: 1px solid #CCC;
      border-radius: 0 $border-radius-base $border-radius-base 0;
      background: #EEE;
      background-image: url('../../images/search@2x.png');
      background-image: linear-gradient(transparent, transparent), url('../../images/search.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
    }
  }
}
