.select-options {
	padding: 5px;
	white-space: nowrap;

	position: absolute;

	background: #FFF;

	border: 1px solid rgba(0,0,0,.1);
	border-radius: 3px;
	box-shadow: 0 5px 7px rgba(0,0,0,.20);
	z-index: 2;

	li:last-child a {
		margin-bottom: 0;
	}

	.icon {
		margin-right: 9px;
	}

	a {
		display: block;

		color: #000;
		padding: 5px;
		margin-bottom: 3px;

		text-decoration: none;
		text-align: left;
		vertical-align: middle;

		border-radius: 3px;
	}

	.active {
		background: rgba(70,206,252,.2);
	}

	&.tag {
		.active {
			font-weight: bold;
		}

		.icon {
			margin-bottom: -3px;
		}
	}
}