.separator {
  height: 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid $secondary-gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.remainder-column > div .separator {
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px;
}
