.sidebar {
	.pretty-toggle {
		position: absolute;
		bottom: 10px;
		left: 10px;
		font-size: 12px;

		p {
			margin-left: 5px;
		}
    }
}

@media (min-width: 768px) {
  	.sidebar {
		position: relative;
		top: 0px;
		border-right: 1px solid #DDD;
		width: 220px;
		flex-shrink: 0;
		background: $bg-color-main;
  	}
}
