.typing {
	text-align: center;
	height: 100%;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	span {
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-right: 5px;
		border-radius: 100%;
		background: #888888;
		text-align: center;
		vertical-align: middle;

		animation-name: blink;
		animation-duration: 1.4s;
		animation-iteration-count: infinite;
		animation-fill-mode: both;

		&:first-child {
			margin-left: 7px;
		}

		&:nth-child(2) {
			animation-delay: .2s;
		}

		&:nth-child(3) {
			animation-delay: .4s;
		}
	}
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
