.type-ahead {
  padding: 6px 0;
  position: absolute;
  bottom: 44px;
  width: 90%;
  width: calc(100% - 60px);
  display: block;
  background: #FFF;
  border-radius: $border-radius-base;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);

  > li {
    padding: 4px 12px;
    display: block;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > * {
      float: left;
      line-height: 24px;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    > p {
      color: $primary-gray;
      font-weight: 300;
    }

    &.active {
      background: $primary-color;

      > * {
        color: #FFF;
        border-color: #FFF;
      }
    }
  }
}
