#walking-chart {
  height: 36px;
  width: 100%;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 26px;

  background: $bg-color-main;
  background-image: url('../../images/walking-man@2x.png');
  background-image: linear-gradient(transparent, transparent), url('../../images/walking-man.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 11px 18px;

  > ul {
    display: flex;
    align-items: flex-end;

    > li {
      flex: 1;
      margin-right: 1px;
      min-height: 1px;
      background: $primary-color;
      border-radius: 1px;
    }
  }
}
