.well {
	border-radius: 4px;

	&.error {
		background: $bg-color-error;
		border: 1px solid darken($bg-color-error, 5%);

		p {
			color: $error-color;
			margin-bottom: 10px;
		}

		a {
			color: $error-link-color;
			text-decoration: underline;
			font-weight: bold;
		}
	}
}

.message-area .well {
	position: absolute;
	width: 100%;
	width: calc(100% - 20px);

	&.error {
		bottom: 0;
	}
}
