#app {
	height: 100%;
}
.app {
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.text-muted {
	font-size: $font-size-small;
	color: $primary-gray;
}
.text-italic {
	font-style: italic;
}