.call-section:before {
  background-image: url('../../images/phone-up@2x.png');
  background-image: linear-gradient(transparent, transparent), url('../../images/phone-up.svg');
  background-size: 18px 19px;
}
