.remainder-column {
  flex: 1;
  overflow-y: scroll;
  height: 100%;

  > div {
    padding-left: 8px;
    padding-right: 8px;
  }

  h2 {
    font-size: 32px;
  }

  .remainder-controls {
    align-items: center; 
    margin-bottom: 15px;
    
    select {
      width: 86px;
    }
  }
}
.main .row .remainder-column {
  padding-top: 16px;
}

#app-column {
	display: flex;
	flex-flow: column;
  flex: 1;
	min-width: 400px;
  max-width: 750px;
	border-right: 1px solid #DDD;
}
