.input-icon {
	display: flex;

	&.right {
		input {
			border-radius: 3px 0 0 3px;
		}
	}

	&.left {
		.icon {
			border-radius: 3px 0 0 3px;
		}
	}

	input {
		flex-grow: 1;

		& + .icon {
			border-radius: 0 3px 3px 0;
		}
	}

	.icon {
		display: block;
		width: 32px;
		height: 32px;
		border: 1px solid #CCCCCC;
		background: #FFF;

		+ input {
			border-radius: 0 3px 3px 0;
		}
	}
}