.interaction-area {
  box-shadow: 0 -1px 2px 0 rgba(165,165,165,0.5);
  font-size: $font-size-base;
  padding: 0 10px 10px 10px;
  flex-shrink: 0;

  label {
    color: $primary-color;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .btn {
    margin-top: 26px;
    width: 100%;
  }

  .call-notes {
    display: none;
    position: relative;

    .icon-menu {
      bottom: calc(100% - 18px);
      left: 0;
      width: 100%;
    }
  }

  .options {
    display: flex;
    margin-bottom: 10px;
  }

  .icon + textarea, .icon-menu-container + textarea {
    margin-left: 10px;
  }

  .icon-menu {
    /*bottom: calc(100% + 10px);*/
    bottom: 50px;
    left: 10px;
  }

  .description {
    color: #B2B2B2;
  }
}

#chat .interaction-area, #team-chat .interaction-area {
  display: flex;
  padding-top: 35px;
  position: relative;

  &.schedule {
    padding-top: 0;
  }

  &.share {
    display: block;

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    input[type="submit"] {
      float: right;
    }
  }

  > p {
    position: absolute;
    right: 8px;
    top: 11px;
    color: $primary-color;
  }

  textarea {
    flex: 1;
    margin-right: 8px;

    &.has-content + input[type="submit"] {
      opacity: 1;

      &:hover {
        border-color: $secondary-color;
        cursor: pointer;
      }
    }
  }

  input[type="submit"] {
    flex-shrink: 0;
    height: 32px;
    width: 32px;
    opacity: 0.5;
    border: 2px solid $primary-color;
    border-radius: 100%;

    background: $bg-color-main;
    background-image: url('../../images/up-arrow@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/up-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 15px;

    &:hover {
      cursor: default;
    }

    &:focus{outline:none;}
  }
}

#team-chat .interaction-area {
  input[type="submit"] {
    border: 2px solid $team-color;

    background: $bg-color-main;
    background-image: url('../../images/up-arrow-team@2x.png');
    background-image: linear-gradient(transparent, transparent), url('../../images/up-arrow-team.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 15px;
  }

  textarea {
    &.has-content + input[type="submit"] {
      &:hover {
        opacity: .5;
        border-color: $team-color;
        cursor: pointer;
      }
    }
  }

  > p {
    color: $team-color;
  }
}
