.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}

.main {
	padding: 0;
	flex: 1;

	> .row {
		flex-flow: row wrap;
	}

	.row {
		margin-left: 0;
		margin-right: 0;

		> div {
			padding: 8px 0 0 0;
		}
	}
}

form .row > *{
	display: inline-block;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.grow > * {
	flex-grow: 1;
}

.flex-column {
	flex-direction: column;
}

.group:after { //clearfix
	content: "";
	display: table;
	clear: both;
}

.desktop-only {
	min-width: 1014px;
}
