.message-section {
  position: relative;
  margin-bottom: 16px;

  &.message-section-sent {
    padding-right: 8px;
  }

  &.message-section-received {
    padding-left: 30px;

    > .avatar {
      left: 0;
    }
  }

}
