.message-area {
	position: relative;
	min-height: 152px;
	flex-grow: 1;
	// min-height: 449px;
	// max-height: 449px;
	background: #EEEEEE;
	padding: 97px 10px 45px 10px;
	overflow-y: auto;

	.message:first-child {
		margin-top: 0;
	}

	p {
		line-height: 16px;
	}
}
