.multiple-choice.row {
	> li {
		float: left;
		margin-right: 5px;
		width: 46px;

		&:first-child {
			margin-left: 5px;
		}
	}
}

.multiple-choice.column {
	> li {
		margin: 10px;
	}

	input {
		margin: 10px 0;
	}
}