.note-section {
  position: relative;
  margin-bottom: 16px;
  font-size: $font-size-base;
  margin-top: 32px;
  padding: 24px 16px 8px 16px;
  background: $bg-color-main;
  border-radius: $border-radius-base;

  &:before {
    content: "";
    height: 32px;
    width: 32px;
    margin-left: -16px;
    border-radius: 100%;
    background-color: $primary-gray;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: -16px;
    left: 50%;
  }

  > p {
    padding-bottom: 8px;
    padding-top: 8px;

    &:first-of-type {
      padding-top: 0;
    }
  }

  .received {
    .message-body {
      background: $bg-color-chat-log;

      &.message-image {
        background: $bg-color-main;
      }
    }

    &.last {
      > .message-body:before {
        border-color: $bg-color-chat-log transparent;
      }

      > .message-body.message-image:before {
        border-color: $bg-color-main transparent;
      }
    }
  }
}

.call-section > p:first-of-type {
  border-bottom: 1px solid $primary-gray;
}
