#options {
	background: $bg-color-options;
	width: 100%;
	position: relative;

	
	.bubble {
		position: absolute;
		right: 10px;
		bottom: calc(100% - 15px;);
	}


	.option-container {
		width: 100%;
		padding: 34px 5px 10px;
	}

}

@media screen and (min-width: 768px) {
	.option-container {
		float: right;
		max-width: 375px;
	}
}