.participant-container {
	position: relative;
}

.participants-panel {
  height: 52px;
  width: 100%;
  /*width: calc(100% + 20px);*/
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin: -5px -0px 50px 0px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);

  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

#chat .participants-panel {
  background: $primary-color;
 /* position: fixed;
  top: 0;
  left: 0;*/
}

#team-chat .participants-panel {
  background: $team-color;
  /*position: fixed;
  top: 0;
  left: 0;*/
}
