#settings {
	.bubble {
		position: absolute;
		top: -35px;
		right: 50px;
		width: 260px;
		border-radius: 15px;

		p {
			margin-left: 6px;
			margin-right: 0;
		}
	}

	.stage-right {
		&:after {
			right: -1px;
			bottom: -1px;
		}

		&:before {
			right: -6px;
			bottom: -6px;
		}
	}

	> div {
		padding-top: 12px;
		position: absolute;
		top: 88px;
		left: 0;
		height: 589px;
		width: 100%;
		background: #FFF;
	}
}