.team-section:before {
	background-image: url('../../images/team-icon-white@2x.png');
	background-image: linear-gradient(transparent, transparent), url('../../images/team-icon-white.svg');
	background-size: 16px;
	background-position: center;
}
