.transcript-section:before {
  background-image: url('../../images/transcript@2x.png');
  background-image: linear-gradient(transparent, transparent), url('../../images/transcript.svg');
  background-size: 18px;
}
