html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'SF UI Text', sans-serif;
  font-size: 17px;
  height: 100%;
  min-height: 100%;
  background: #00BCFC; }

header {
  width: 100%;
  height: 45px;
  background: rgba(204, 241, 254, 0.95);
  text-align: center;
  -webkit-box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-weight: 600;
  position: fixed;
  z-index: 999; }

li {
  list-style-type: none; }

#app {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #4ac7f9;
  background: -webkit-linear-gradient(top, #4ac7f9 0%, #7cdafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#4ac7f9), to(#7cdafa));
  background: linear-gradient(to bottom, #4ac7f9 0%, #7cdafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ac7f9', endColorstr='#7cdafa',GradientType=0 ); }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.group:after {
  content: "";
  display: table;
  clear: both; }

#message-area {
  min-height: 152px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 10px 10px 10px;
  overflow-y: auto; }
  #message-area .message:first-child {
    margin-top: 0; }

#options {
  width: 100%;
  position: relative; }
  #options .bubble {
    position: absolute;
    right: 10px;
    bottom: -webkit-calc(100% - 15px);
    bottom: calc(100% - 15px); }
  #options .option-container {
    background: white;
    width: 100%;
    padding: 34px 5px 10px; }
    #options .option-container.hidden {
      background: transparent; }
      #options .option-container.hidden > * {
        display: none; }

@media screen and (min-width: 768px) {
  .option-container {
    float: right;
    max-width: 375px; } }

.multiple-choice.row > li {
  float: left;
  margin-right: 5px;
  width: 46px; }
  .multiple-choice.row > li:first-child {
    margin-left: 5px; }

.multiple-choice.column > li {
  margin: 10px; }

#settings .bubble {
  position: absolute;
  top: -35px;
  right: 50px;
  width: 260px;
  -webkit-border-radius: 15px;
          border-radius: 15px; }
  #settings .bubble p {
    margin-left: 6px;
    margin-right: 0; }

#settings .stage-right:after {
  right: -1px;
  bottom: -1px; }

#settings .stage-right:before {
  right: -6px;
  bottom: -6px; }

#settings > div {
  padding-top: 12px;
  position: absolute;
  top: 88px;
  left: 0;
  height: 589px;
  width: 100%;
  background: #FFF; }

.single-choice.column > li {
  margin-bottom: 10px; }

.single-choice.row > li {
  width: 47%;
  float: left;
  margin: 0 1.3%; }

.avatar {
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: bottom; }

.guide > .avatar {
  border: 0; }

.doctor > .avatar {
  border: 2px solid #FFF; }

.message.received:not(.last) > .avatar {
  display: none; }

.title {
  position: absolute;
  display: block;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 11px; }

.badge {
  position: relative;
  -webkit-border-radius: 3px 3px 0 3px;
          border-radius: 3px 3px 0 3px;
  background: #00BCFC;
  float: right;
  padding: 2px 5.5px;
  margin-top: 4px;
  margin-right: 4px; }
  .badge img {
    width: 9px;
    height: auto; }
  .badge:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -4px;
    border-style: solid;
    border-width: 0 4px 5px 0;
    border-color: #00AAE2 transparent;
    display: block;
    width: 0;
    -webkit-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0; }

.bubble {
  padding: 8px;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  background: #00AAE2;
  color: #FFF;
  max-width: 215px;
  position: relative; }
  .bubble:after, .bubble:before {
    content: '';
    background: #00AAE2;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    position: absolute; }
  .bubble:after {
    width: 12px;
    height: 12px; }
  .bubble:before {
    width: 6px;
    height: 6px; }
  .bubble div {
    display: inline-block;
    line-height: 18px;
    outline: none; }
  .bubble p {
    margin: 6px 16px;
    float: left;
    background: none;
    border: none; }
  .bubble img {
    width: 100%;
    width: -webkit-calc(100% + 48px);
    width: calc(100% + 48px);
    max-height: 150px;
    margin: -8px -8px 5px -8px;
    -webkit-border-radius: 24px 24px 0 0;
            border-radius: 24px 24px 0 0;
    -o-object-fit: cover;
       object-fit: cover; }

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.single-choice li, .multiple-choice li {
  background: rgba(0, 0, 0, 0.05);
  color: #00BCFC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  height: 46px;
  line-height: 46px;
  text-align: center; }

.single-choice li {
  background: #FFF;
  border: 1px solid #00BCFC;
  color: #00BCFC; }

.message {
  position: relative;
  margin: 5px;
  width: 100%; }
  .message:after, .message:before {
    content: " ";
    display: table; }
  .message:after {
    clear: both; }
  .message .name {
    position: relative;
    display: none;
    font-size: 11px;
    margin-bottom: 4px;
    color: #FFF; }
  .message .message-body {
    display: block;
    position: relative;
    padding: 14px 16px;
    font-size: 17px;
    max-width: 70%;
    max-width: -webkit-calc(90% - 35px);
    max-width: calc(90% - 35px);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #CCF1FE;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32);
            box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32); }
  .message .message-image {
    background: #FFF;
    padding: 0; }
    .message .message-image img {
      max-height: 100%;
      max-width: 100%;
      -webkit-border-radius: 3px 3px 3px 0;
              border-radius: 3px 3px 3px 0;
      vertical-align: middle; }
  .message .bubble {
    background: #CCF1FE; }
    .message .bubble:before, .message .bubble:after {
      background: #CCF1FE; }

.message.last + .message > .name, .time-stamp + .message > .name {
  display: block; }

.received {
  padding-left: 35px; }
  .received + .sent {
    margin-top: 16px; }
  .received .avatar {
    left: 0; }

.sent + .received {
  margin-top: 16px; }

.sent .message-body {
  float: right;
  background: rgba(0, 0, 0, 0.1);
  color: #FFF;
  margin-right: 10px; }

.sent .avatar {
  right: 0; }

.sent.last > .message-body {
  -webkit-border-radius: 3px 3px 0 3px;
          border-radius: 3px 3px 0 3px; }
  .sent.last > .message-body:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -7px;
    border-width: 0 7px 10px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
    -webkit-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;
    display: block;
    width: 0;
    -webkit-box-shadow: 0 1px 0px 0 rgba(164, 152, 135, 0.2);
            box-shadow: 0 1px 0px 0 rgba(164, 152, 135, 0.2); }

.received.last {
  margin-bottom: 16px; }
  .received.last > .message-body {
    -webkit-border-radius: 3px 3px 3px 0;
            border-radius: 3px 3px 3px 0; }
    .received.last > .message-body:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: -7px;
      border-width: 0 0 10px 7px;
      border-style: solid;
      border-color: #CCF1FE transparent;
      -webkit-border-radius: 0 0 0 3px;
              border-radius: 0 0 0 3px;
      display: block;
      width: 0;
      -webkit-box-shadow: 0px 1px 0px 0 rgba(164, 152, 135, 0.2);
              box-shadow: 0px 1px 0px 0 rgba(164, 152, 135, 0.2); }

.last .message-body.message-image:after, .last .message-body.message-image:before {
  border-color: #FFF transparent; }

@media screen and (min-width: 768px) {
  .message .message-body {
    max-width: 60%; } }

.option {
  padding: 24px 0;
  margin-left: 17px;
  border-bottom: 1px solid #C8C7CC;
  color: #555555; }

.range {
  margin: 0 5px; }
  .range input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background: transparent;
    outline: none; }
  .range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 25px;
            border-radius: 25px;
    border: none; }
  .range input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    height: 28px;
    width: 28px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #00BCFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px;
    -webkit-appearance: none; }
  .range input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    border: none; }
  .range input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #00BCFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px; }
  .range input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: rgba(0, 0, 0, 0.05);
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  .range input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: none;
    border-radius: 2.6px;
    box-shadow: none; }
  .range input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: none;
    border-radius: 2.6px;
    box-shadow: none; }
  .range input[type=range]::-ms-thumb {
    box-shadow: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #00BCFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px; }

.input-range-helpers {
  position: relative;
  font-size: 13px;
  color: rgba(85, 85, 85, 0.54);
  margin: 0 5px; }

.time-frame {
  text-transform: uppercase;
  text-align: center;
  margin: 16px 0;
  font-size: 13px;
  color: #FFF;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%; }
  .time-frame span {
    position: relative;
    display: inline-block; }
    .time-frame span:before, .time-frame span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #FFF; }
    .time-frame span:before {
      right: 100%;
      margin-right: 10px; }
    .time-frame span:after {
      left: 100%;
      margin-left: 10px; }

.time-stamp {
  display: block;
  color: #FFF;
  font-size: 11px;
  font-weight: 300;
  line-height: 11px;
  text-align: center;
  margin: 16px 0; }

.chat-section .time-stamp:first-of-type, .team-section .time-stamp:first-of-type {
  margin-top: 8px; }

.typing {
  text-align: center;
  height: 100%; }
  .typing:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .typing span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #888888;
    text-align: center;
    vertical-align: middle;
    -webkit-animation-name: blink;
            animation-name: blink;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    .typing span:first-child {
      margin-left: 7px; }
    .typing span:nth-child(2) {
      -webkit-animation-delay: .2s;
              animation-delay: .2s; }
    .typing span:nth-child(3) {
      -webkit-animation-delay: .4s;
              animation-delay: .4s; }

@-webkit-keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }

@keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }

.empty {
  display: block;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #00AAE2 url("../../images/close.png") center no-repeat;
  position: absolute;
  left: -106px;
  bottom: 8px; }

.add-image {
  display: block;
  width: 44px;
  height: 32px;
  position: absolute;
  left: -58px;
  bottom: 8px;
  background: transparent url("../../images/add-image-icon@2x.png") center no-repeat;
  background-size: 44px 32px; }

.autogrow {
  border: 0 none white;
  overflow: hidden;
  padding: 0;
  outline: none;
  background-color: transparent;
  resize: none;
  color: #FFF;
  font-size: 17px;
  line-height: 20px;
  height: 20px;
  max-height: 240px; }

.send-button {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
  bottom: 7px;
  background: #FFF url("../../images/up-arrow@2x.png") center no-repeat;
  background-size: 13px 15px;
  -webkit-border-radius: 100%;
          border-radius: 100%; }

.multiple-choice.column {
  max-height: 200px;
  overflow: scroll; }

.has-avatar.received .message-body, .has-avatar.received .bubble {
  margin-left: 30px; }

.has-avatar.sent .message-body, .has-avatar.sent .bubble {
  margin-right: 30px; }

.is-empty {
  width: 96px;
  height: 48px; }

.has-button {
  padding: 8px 40px 8px 8px; }

.hint {
  font-style: italic;
  opacity: .30; }

.is-selected {
  background: #00BCFC !important;
  color: white !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14); }

.stage-left:after {
  bottom: 0px;
  left: 0px; }

.stage-left:before {
  bottom: -5px;
  left: -5px; }

.stage-left .autogrow {
  margin: 4px 16px 4px 0; }

.stage-right:after {
  bottom: 0px;
  right: 0px; }

.stage-right:before {
  bottom: -5px;
  right: -5px; }

.stage-right .autogrow {
  padding: 4px 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.is-thinking {
  height: 80px; }

#keyboard {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  max-height: 230px;
  width: 100%;
  z-index: 2; }

.active-keyboard {
  height: 250px; }

.active-keyboard #keyboard {
  display: block; }
