.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.message {
  position: relative;
  margin: 5px;
  width: 100%; }
  .message:after, .message:before {
    content: " ";
    display: table; }
  .message:after {
    clear: both; }
  .message .message-body {
    display: block;
    position: relative;
    padding: 14px 16px;
    font-size: 17px;
    max-width: 85%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #CCF1FE;
    -webkit-border-radius: 3px 3px 3px 0;
            border-radius: 3px 3px 3px 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32);
            box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32); }
  .message .bubble {
    background: #CCF1FE; }
    .message .bubble:before, .message .bubble:after {
      background: #CCF1FE; }

.received + .sent {
  margin-top: 16px; }

.received .message-body {
  -webkit-border-radius: 3px 3px 3px 0;
          border-radius: 3px 3px 3px 0; }
  .received .message-body:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -7px;
    border-width: 0 0 10px 7px;
    border-style: solid;
    border-color: #CCF1FE transparent;
    -webkit-border-radius: 0 0 0 3px;
            border-radius: 0 0 0 3px;
    display: block;
    width: 0; }

.received .avatar {
  left: 0; }

.sent + .received {
  margin-top: 16px; }

.sent .message-body {
  -webkit-border-radius: 3px 3px 0 3px;
          border-radius: 3px 3px 0 3px;
  float: right;
  background: rgba(0, 0, 0, 0.1);
  color: #FFF;
  margin-right: 10px; }
  .sent .message-body:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -7px;
    border-width: 0 7px 10px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
    -webkit-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;
    display: block;
    width: 0; }

.sent .avatar {
  right: 0; }

@media screen and (min-width: 768px) {
  .message .message-body {
    max-width: 60%; } }

.avatar {
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: bottom; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.range {
  margin: 0 5px; }
  .range input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background: transparent;
    outline: none; }
  .range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 25px;
            border-radius: 25px;
    border: none; }
  .range input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    height: 28px;
    width: 28px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #00BCFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px;
    -webkit-appearance: none; }
  .range input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    border: none; }
  .range input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #00BCFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px; }
  .range input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: rgba(0, 0, 0, 0.05);
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  .range input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: none;
    border-radius: 2.6px;
    box-shadow: none; }
  .range input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: none;
    border-radius: 2.6px;
    box-shadow: none; }
  .range input[type=range]::-ms-thumb {
    box-shadow: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #00BCFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px; }

.input-range-helpers {
  position: relative;
  font-size: 13px;
  color: rgba(85, 85, 85, 0.54);
  margin: 0 5px; }

.typing {
  text-align: center;
  height: 100%; }
  .typing:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .typing span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #888888;
    text-align: center;
    vertical-align: middle; }

.hint {
  font-style: italic;
  opacity: .30; }

.is-empty {
  width: 96px;
  height: 48px; }

.has-image {
  padding: 8px 40px 8px 8px; }

.is-thinking {
  height: 80px; }

.stage-left:after {
  bottom: 0px;
  left: 0px; }

.stage-left:before {
  bottom: -5px;
  left: -5px; }

.stage-right:after {
  bottom: 0px;
  right: 0px; }

.stage-right:before {
  bottom: -5px;
  right: -5px; }

.has-avatar .message-body, .has-avatar .bubble {
  margin-left: 30px; }
