html, body {
	font-family: 'SF UI Text', sans-serif;
	font-size: 17px;
	height: 100%;
	min-height: 100%;
	background: #FFF;
}

header {
	width: 100%;
	height: 45px;
	background: rgba(255,255,255,0.90);
	text-align: center;
	box-shadow: 0 0.5px 0 0 rgba(0,0,0,.3);
	padding: 10px;
	font-weight: 600;
	position: fixed;
	z-index: 999;
}

li {
	list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
