html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'SF UI Text', sans-serif;
  font-size: 17px;
  height: 100%;
  min-height: 100%;
  background: #FFFFFF; }

header {
  width: 100%;
  height: 45px;
  background: #CCF1FE;
  text-align: center;
  -webkit-box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5px 0 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-weight: 600;
  position: relative; }

li {
  list-style-type: none; }

textarea {
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none;
  -webkit-box-shadow: inset 0 1px 0 0 #ECECEC;
          box-shadow: inset 0 1px 0 0 #ECECEC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  min-height: 30px;
  max-height: 200px; }

select {
  width: 100%;
  max-width: 300px;
  height: 32px;
  font-size: 14px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding-left: 8px;
  background: #FFFFFF; }

button[data-toggle="dropdown"] {
  text-align: left; }
  button[data-toggle="dropdown"]:after {
    content: "";
    height: 0;
    width: 0;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px; }

#app {
  height: 100%; }

.app {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.remainder-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  height: 100%; }
  .remainder-column > div {
    padding-left: 8px;
    padding-right: 8px; }
  .remainder-column h2 {
    font-size: 32px; }
  .remainder-column .text-muted {
    font-size: 11px;
    color: #929292; }
  .remainder-column .text-italic {
    font-style: italic; }

.main .row .remainder-column {
  padding-top: 16px; }

#app-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 400px;
  max-width: 750px;
  border-right: 1px solid #DDD; }

.interaction-area {
  -webkit-box-shadow: 0 -1px 2px 0 rgba(165, 165, 165, 0.5);
          box-shadow: 0 -1px 2px 0 rgba(165, 165, 165, 0.5);
  font-size: 14px;
  padding: 0 10px 10px 10px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .interaction-area label {
    color: #46CEFC;
    display: block;
    margin-top: 16px;
    margin-bottom: 8px; }
  .interaction-area .btn {
    margin-top: 26px;
    width: 100%; }
  .interaction-area .call-notes {
    display: none; }

#chat .interaction-area, #team-chat .interaction-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  position: relative; }
  #chat .interaction-area > p, #team-chat .interaction-area > p {
    position: absolute;
    right: 8px;
    top: 11px;
    color: #46CEFC; }
  #chat .interaction-area textarea, #team-chat .interaction-area textarea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 8px; }
    #chat .interaction-area textarea.has-content + input[type="submit"], #team-chat .interaction-area textarea.has-content + input[type="submit"] {
      opacity: 1; }
      #chat .interaction-area textarea.has-content + input[type="submit"]:hover, #team-chat .interaction-area textarea.has-content + input[type="submit"]:hover {
        border-color: #00AAE2;
        cursor: pointer; }
  #chat .interaction-area input[type="submit"], #team-chat .interaction-area input[type="submit"] {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    height: 32px;
    width: 32px;
    opacity: 0.5;
    border: 2px solid #46CEFC;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #FFFFFF;
    background-image: url("../../images/up-arrow@2x.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/up-arrow.svg");
    background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/up-arrow.svg");
    background-image: linear-gradient(transparent, transparent), url("../../images/up-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 15px; }
    #chat .interaction-area input[type="submit"]:hover, #team-chat .interaction-area input[type="submit"]:hover {
      cursor: default; }
    #chat .interaction-area input[type="submit"]:focus, #team-chat .interaction-area input[type="submit"]:focus {
      outline: none; }

#team-chat .interaction-area input[type="submit"] {
  border: 2px solid #CE4641;
  background: #FFFFFF;
  background-image: url("../../images/up-arrow-team@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/up-arrow-team.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/up-arrow-team.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/up-arrow-team.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 15px; }

#team-chat .interaction-area textarea.has-content + input[type="submit"]:hover {
  opacity: .5;
  border-color: #CE4641;
  cursor: pointer; }

#team-chat .interaction-area > p {
  color: #CE4641; }

.interaction-information {
  position: relative;
  display: block;
  height: 16px;
  margin: 2px 0; }
  .interaction-information > span {
    display: inline-block;
    position: absolute;
    line-height: 17px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.main {
  padding: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .main > .row {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .main .row {
    margin-left: 0;
    margin-right: 0; }
    .main .row > div {
      padding: 8px 0 0 0; }

form .row > * {
  display: inline-block; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.desktop-only {
  min-width: 1014px; }

.message-area {
  position: relative;
  min-height: 152px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #EEEEEE;
  padding: 5px 10px 45px 10px;
  overflow-y: auto; }
  .message-area .message:first-child {
    margin-top: 0; }

.message-section {
  position: relative;
  margin-bottom: 16px; }
  .message-section.message-section-sent {
    padding-right: 8px; }
  .message-section.message-section-received {
    padding-left: 30px; }
    .message-section.message-section-received > .avatar {
      left: 0; }

.nav-stacked > * {
  margin-bottom: 10px; }

.nav-stacked:last-child {
  margin-bottom: 0; }

#options {
  background: white;
  width: 100%;
  position: relative; }
  #options .bubble {
    position: absolute;
    right: 10px;
    bottom: -webkit-calc(100% - 15px);
    bottom: calc(100% - 15px); }
  #options .option-container {
    width: 100%;
    padding: 34px 5px 10px; }

@media screen and (min-width: 768px) {
  .option-container {
    float: right;
    max-width: 375px; } }

.multiple-choice.row > li {
  float: left;
  margin-right: 5px;
  width: 46px; }
  .multiple-choice.row > li:first-child {
    margin-left: 5px; }

.multiple-choice.column > li {
  margin: 10px; }

.section-information {
  position: relative;
  display: block;
  height: 16px;
  margin: 4px 0; }
  .section-information > span {
    display: inline-block;
    position: absolute;
    line-height: 17px; }

#settings .bubble {
  position: absolute;
  top: -35px;
  right: 50px;
  width: 260px;
  -webkit-border-radius: 15px;
          border-radius: 15px; }
  #settings .bubble p {
    margin-left: 6px;
    margin-right: 0; }

#settings .stage-right:after {
  right: -1px;
  bottom: -1px; }

#settings .stage-right:before {
  right: -6px;
  bottom: -6px; }

#settings > div {
  padding-top: 12px;
  position: absolute;
  top: 88px;
  left: 0;
  height: 589px;
  width: 100%;
  background: #FFF; }

.single-choice.column > li {
  margin-bottom: 10px; }

.single-choice.row > li {
  width: 47%;
  float: left;
  margin: 0 1.3%; }

#app-column .tab-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  position: relative; }

#app-column .tab-pane {
  position: absolute;
  height: 100%;
  width: 100%; }

.call-section:before {
  background-image: url("../../images/phone-up@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/phone-up.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/phone-up.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/phone-up.svg");
  background-size: 18px 19px; }

.transcript-section:before {
  background-image: url("../../images/transcript@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/transcript.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/transcript.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/transcript.svg");
  background-size: 18px; }

.note-section {
  position: relative;
  margin-bottom: 16px;
  font-size: 14px;
  margin-top: 32px;
  padding: 24px 16px 8px 16px;
  background: #FFFFFF;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .note-section:before {
    content: "";
    height: 32px;
    width: 32px;
    margin-left: -16px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-color: #929292;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: -16px;
    left: 50%; }
  .note-section > p {
    padding-bottom: 8px;
    padding-top: 8px; }
    .note-section > p:first-of-type {
      padding-top: 0; }
  .note-section .received .message-body {
    background: #F5F5F5; }
    .note-section .received .message-body.message-image {
      background: #FFFFFF; }
  .note-section .received.last > .message-body:before {
    border-color: #F5F5F5 transparent; }
  .note-section .received.last > .message-body.message-image:before {
    border-color: #FFFFFF transparent; }

.call-section > p:first-of-type {
  border-bottom: 1px solid #929292; }

.team-section:before {
  background-image: url("../../images/team-icon-white@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/team-icon-white.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/team-icon-white.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/team-icon-white.svg");
  background-size: 16px;
  background-position: center; }

.chat-section:before {
  background-image: url("../../images/chat-icon-white@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/chat-icon-white.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/chat-icon-white.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/chat-icon-white.svg");
  background-size: 16px;
  background-position: center; }

.participants-panel {
  height: 52px;
  width: 100%;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 10px;
  margin: -5px -10px 50px -10px; }

#chat .participants-panel {
  background: #46CEFC; }

#team-chat .participants-panel {
  background: #CE4641; }

.nav > li > a {
  display: inline-block; }

.avatar {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #FFFFFF;
  vertical-align: bottom; }
  .avatar.avatar-left {
    margin-right: 12px; }
  .avatar.avatar-right {
    margin-left: 12px; }
  .avatar.avatar-lg {
    width: 50px;
    height: 50px; }
  .avatar.avatar-profile {
    display: block;
    margin: 10px auto; }
  .avatar.avatar-add {
    width: 64px;
    height: 64px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: 1px solid #DDDDDD;
    background-size: cover;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px; }
    .avatar.avatar-add:hover {
      cursor: pointer;
      color: #46CEFC;
      border-color: #46CEFC; }
    .avatar.avatar-add.has-photo > p {
      display: none; }

.chat-section > .guide > .avatar, #chat .guide > .avatar {
  border: 2px solid transparent; }

.chat-section > .doctor > .avatar, #chat .doctor > .avatar {
  border: 2px solid #46CEFC; }

.team-section > .doctor > .avatar, #team-chat .doctor > .avatar {
  border: 2px solid #CE4641; }

.advisor > .avatar {
  border: 2px solid #FFF; }

.message.received > .avatar {
  position: absolute;
  bottom: 0;
  left: -42px; }

.message.received:not(.last) > .avatar {
  display: none; }

.title {
  position: absolute;
  display: block;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 11px; }

.badge {
  background: #999;
  padding: 3px 6px; }
  .badge img {
    width: 9px;
    height: auto; }
  .badge.badge-bubble {
    position: relative;
    -webkit-border-radius: 3px 3px 0 3px;
            border-radius: 3px 3px 0 3px;
    background: #00AAE2;
    float: right;
    padding: 2px 5.5px;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 100%; }
    .badge.badge-bubble:after {
      content: "";
      position: absolute;
      bottom: 0px;
      right: -4px;
      border-style: solid;
      border-width: 0 4px 5px 0;
      border-color: #00AAE2 transparent;
      display: block;
      width: 0;
      -webkit-border-radius: 0 0 3px 0;
              border-radius: 0 0 3px 0; }

.navbar .badge {
  background: #46CEFC; }

.bubble {
  padding: 8px;
  -webkit-border-radius: 24px;
          border-radius: 24px;
  background: #00AAE2;
  color: #FFF;
  max-width: 332px;
  position: relative; }
  .bubble:after, .bubble:before {
    content: '';
    background: #00AAE2;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    position: absolute; }
  .bubble:after {
    width: 12px;
    height: 12px; }
  .bubble:before {
    width: 6px;
    height: 6px; }
  .bubble div {
    display: inline-block;
    line-height: 18px;
    outline: none; }
  .bubble p {
    margin: 6px 16px;
    float: left;
    background: none;
    border: none; }
  .bubble img {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 8px;
    bottom: 7px; }

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.single-choice li, .multiple-choice li {
  background: rgba(0, 0, 0, 0.05);
  color: #46CEFC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  height: 46px;
  line-height: 46px;
  text-align: center; }

.single-choice li {
  background: #FFF;
  border: 1px solid #FFFFFF;
  color: #46CEFC; }

.message {
  position: relative;
  margin: 5px; }
  .message:after, .message:before {
    content: " ";
    display: table; }
  .message:after {
    clear: both; }
  .message .name {
    position: relative;
    display: none;
    font-size: 11px;
    margin-bottom: 4px;
    color: #929292; }
  .message .message-body {
    display: block;
    position: relative;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 300;
    max-width: 85%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #FFFFFF;
    -webkit-border-radius: 3px 3px 3px 0;
            border-radius: 3px 3px 3px 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32);
            box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32); }
  .message .message-image {
    background: #FFFFFF;
    padding: 0; }
    .message .message-image img {
      max-height: 100%;
      max-width: 100%;
      -webkit-border-radius: 3px 3px 3px 0;
              border-radius: 3px 3px 3px 0;
      vertical-align: middle; }
  .message .bubble {
    background: #CCF1FE; }
    .message .bubble:before, .message .bubble:after {
      background: #CCF1FE; }

.message.last + .message > .name, .time-stamp + .message > .name {
  display: block; }

.chat-section > .doctor > .name, #chat .message.doctor > .name {
  color: #46CEFC; }

.team-section > .doctor > .name, #team-chat .message.doctor > .name {
  color: #CE4641; }

.received {
  margin-left: 42px; }
  .received + .sent {
    margin-top: 16px; }
  .received .message-body {
    -webkit-border-radius: 3px 3px 3px 0;
            border-radius: 3px 3px 3px 0;
    float: left; }

.sent {
  margin-right: 8px; }
  .sent + .received {
    margin-top: 16px; }
  .sent .message-body.message-image {
    padding: 0;
    background: #FFFFFF; }
  .sent .message-body {
    -webkit-border-radius: 3px 3px 0 3px;
            border-radius: 3px 3px 0 3px;
    float: right;
    background: #00AAE2;
    color: #FFF;
    margin-right: 10px; }
  .sent .avatar {
    right: 0; }

#team-chat .sent .message-body, .team-section .sent .message-body {
  background: #CE4641; }

#team-chat .sent .message-image, .team-section .sent .message-image {
  padding: 0;
  background: #FFFFFF; }

#team-chat .sent.last > .message-body:after, .team-section .sent.last > .message-body:after {
  border-color: #CE4641 transparent; }

#team-chat .sent.last > .message-image.message-body:after, .team-section .sent.last > .message-image.message-body:after {
  border-color: #FFFFFF transparent; }

.sent.last > .message-body:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -7px;
  border-width: 0 7px 10px 0;
  border-style: solid;
  border-color: #00AAE2 transparent;
  -webkit-border-radius: 0 0 3px 0;
          border-radius: 0 0 3px 0;
  display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 0px 0 rgba(164, 152, 135, 0.2);
          box-shadow: 0 1px 0px 0 rgba(164, 152, 135, 0.2); }

.sent.last > .message-image.message-body:after {
  border-color: #FFFFFF transparent; }

.received.last {
  margin-bottom: 16px; }
  .received.last > .message-body:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -7px;
    border-width: 0 0 10px 7px;
    border-style: solid;
    border-color: #FFFFFF transparent;
    -webkit-border-radius: 0 0 0 3px;
            border-radius: 0 0 0 3px;
    display: block;
    width: 0;
    -webkit-box-shadow: 0px 1px 0px 0 rgba(164, 152, 135, 0.2);
            box-shadow: 0px 1px 0px 0 rgba(164, 152, 135, 0.2); }

@media screen and (min-width: 768px) {
  .message .message-body {
    max-width: 79%; } }

.option {
  padding: 24px 0;
  margin-left: 17px;
  border-bottom: 1px solid #C8C7CC;
  color: #555555; }

.range {
  margin: 0 5px; }
  .range input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background: transparent;
    outline: none; }
  .range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 25px;
            border-radius: 25px;
    border: none; }
  .range input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    height: 28px;
    width: 28px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #46CEFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px;
    -webkit-appearance: none; }
  .range input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    border: none; }
  .range input[type=range]::-moz-range-thumb {
    box-shadow: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #46CEFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px; }
  .range input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: rgba(0, 0, 0, 0.05);
    border-color: transparent;
    border-width: 16px 0;
    color: transparent; }
  .range input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: none;
    border-radius: 2.6px;
    box-shadow: none; }
  .range input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: none;
    border-radius: 2.6px;
    box-shadow: none; }
  .range input[type=range]::-ms-thumb {
    box-shadow: none;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    background: #46CEFC url("../../images/slider-hamburger.png") center/8px 6px no-repeat;
    cursor: pointer;
    margin-top: -10px; }

.input-range-helpers {
  position: relative;
  font-size: 13px;
  color: rgba(85, 85, 85, 0.54);
  margin: 0 5px; }

.time-frame {
  text-transform: uppercase;
  text-align: center;
  margin: 16px 0;
  font-size: 13px;
  font-weight: 300;
  color: #46CEFC;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%; }
  .time-frame span {
    position: relative;
    display: inline-block; }
    .time-frame span:before, .time-frame span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #46CEFC; }
    .time-frame span:before {
      right: 100%;
      margin-right: 10px; }
    .time-frame span:after {
      left: 100%;
      margin-left: 10px; }

#team-chat .time-frame {
  color: #CE4641; }
  #team-chat .time-frame span:before, #team-chat .time-frame span:after {
    background: #CE4641; }

.time-stamp {
  display: block;
  color: #929292;
  font-size: 11px;
  font-weight: 300;
  line-height: 11px;
  text-align: center;
  margin: 16px 0; }

.chat-section .time-stamp:first-of-type, .team-section .time-stamp:first-of-type {
  margin-top: 8px; }

.typing {
  text-align: center;
  height: 100%; }
  .typing:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .typing span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #888888;
    text-align: center;
    vertical-align: middle;
    -webkit-animation-name: blink;
            animation-name: blink;
    -webkit-animation-duration: 1.4s;
            animation-duration: 1.4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both; }
    .typing span:first-child {
      margin-left: 7px; }
    .typing span:nth-child(2) {
      -webkit-animation-delay: .2s;
              animation-delay: .2s; }
    .typing span:nth-child(3) {
      -webkit-animation-delay: .4s;
              animation-delay: .4s; }

@-webkit-keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }

@keyframes blink {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }

.empty {
  display: block;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #00AAE2 url("../../images/close.png") center no-repeat;
  position: absolute;
  left: -50px;
  top: 8px; }

.autogrow {
  overflow: hidden;
  resize: none;
  height: 20px; }

.duration-information {
  font-size: 11px;
  color: #929292;
  text-align: center;
  position: relative;
  display: block;
  margin-bottom: 8px; }
  .duration-information .icon {
    margin-right: 4px;
    margin-bottom: -4px; }
    .duration-information .icon.i-play:hover {
      cursor: pointer;
      background-color: #00AAE2; }
  .duration-information.called:before {
    background: #46CEFC;
    background-image: url("../../images/play@2x.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/play.svg");
    background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/play.svg");
    background-image: linear-gradient(transparent, transparent), url("../../images/play.svg");
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 6px 7px; }

.time-information {
  font-size: 11px;
  color: #929292;
  text-align: right;
  right: 0; }

.btn:focus {
  outline: 0; }

.btn.btn-o, .btn.btn-o:focus, .btn.btn-o:active {
  background: #FFFFFF; }

.btn.btn-o.btn-primary {
  border: 1px solid #46CEFC;
  color: #46CEFC; }

.btn.btn-o.btn-negative {
  border: none;
  color: #929292; }

.btn.btn-o.btn-danger {
  border: 1px solid #D0021B;
  color: #D0021B; }

.nav-pills {
  padding-bottom: 8px; }
  .nav-pills.nav-justified {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .nav-pills.nav-justified li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: auto; }
  .nav-pills li {
    font-size: 14px;
    background: none;
    text-align: center;
    padding: 0 4px; }
    .nav-pills li a {
      display: inline-block;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      width: 100%;
      min-height: 38px;
      line-height: 26px;
      padding: 6px 8px;
      color: #46CEFC; }
      .nav-pills li a:hover, .nav-pills li a:focus {
        background: #46CEFC;
        color: #FFF; }
        .nav-pills li a:hover .badge, .nav-pills li a:focus .badge {
          background: #FFF;
          color: #46CEFC; }
        .nav-pills li a:hover svg > path, .nav-pills li a:focus svg > path {
          fill: #FFF; }
      .nav-pills li a svg {
        vertical-align: top;
        height: 26px; }
    .nav-pills li.active a {
      background: #46CEFC; }
      .nav-pills li.active a svg > path {
        fill: #FFF; }
    .nav-pills li.active .badge {
      color: #46CEFC; }
  .nav-pills .badge {
    display: inline-block;
    font-weight: bold;
    z-index: 2; }
  .nav-pills.nav-stacked {
    overflow-x: auto;
    overflow-y: hidden; }
    .nav-pills.nav-stacked li {
      padding: 0; }
      .nav-pills.nav-stacked li a {
        text-align: left;
        position: static;
        width: 100%;
        height: 38px;
        overflow-y: hidden;
        padding-right: 45px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden; }
      .nav-pills.nav-stacked li.active a:before, .nav-pills.nav-stacked li a:hover:before, .nav-pills.nav-stacked li a:focus:before {
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(70, 206, 252, 0) 0%, #46cefc 20%, #46cefc 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: -webkit-gradient(linear, left top, right top, from(rgba(70, 206, 252, 0)), color-stop(20%, #46cefc), to(#46cefc));
        background: linear-gradient(to right, rgba(70, 206, 252, 0) 0%, #46cefc 20%, #46cefc 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0046cefc', endColorstr='#46cefc',GradientType=1 );
        /* IE6-9 */ }
    .nav-pills.nav-stacked .badge, .nav-pills.nav-stacked .icon {
      position: absolute; }
    .nav-pills.nav-stacked .badge {
      top: 10px;
      right: 8px; }
    .nav-pills.nav-stacked .icon {
      top: 11px;
      right: 10px; }
  .nav-pills > * {
    margin-bottom: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #46CEFC; }

.navbar.navbar-inverse {
  background: #222; }
  .navbar.navbar-inverse .navbar-nav > li > a:hover, .navbar.navbar-inverse .navbar-nav > li > a:focus, .navbar.navbar-inverse .navbar-nav > .active > a, .navbar.navbar-inverse .navbar-nav > .active > a:hover, .navbar.navbar-inverse .navbar-nav > .active > a:focus {
    background: #000; }

.navbar .navbar-brand {
  height: 52px;
  line-height: 28px; }

.navbar .navbar-nav > li > a {
  line-height: 28px; }

.participant {
  text-align: center;
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2px; }
  .participant .name {
    display: block;
    font-size: 14px;
    line-height: 15px;
    font-weight: 300;
    color: #FFF;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .participant .avatar {
    margin: 0 auto; }

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    top: 0px;
    border-right: 1px solid #DDD;
    width: 220px;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    background: #FFFFFF; } }

#activity-chart {
  background: url("../../images/activity-graph@2x.png") no-repeat;
  background-size: cover;
  width: 100%; }
  #activity-chart:after {
    content: "";
    padding-bottom: 40%;
    display: block; }

#walking-chart {
  height: 36px;
  width: 100%;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 26px;
  background: #FFFFFF;
  background-image: url("../../images/walking-man@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/walking-man.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/walking-man.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/walking-man.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 11px 18px; }
  #walking-chart > ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    #walking-chart > ul > li {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin-right: 1px;
      min-height: 1px;
      background: #46CEFC;
      -webkit-border-radius: 1px;
              border-radius: 1px; }

.separator {
  height: 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid #DDDDDD;
  margin-top: 10px;
  margin-bottom: 10px; }

.remainder-column > div .separator {
  width: -webkit-calc(100% + 16px);
  width: calc(100% + 16px);
  margin-left: -8px;
  margin-right: -8px; }

.info-table {
  font-size: 14px;
  margin: 8px 8px 0 8px; }
  .info-table th {
    text-transform: uppercase;
    color: #929292;
    padding: 8px 16px 8px 0; }
  .info-table td {
    padding: 8px 16px 8px 0; }
  .info-table tr.inactive > th, .info-table tr.inactive > td {
    color: #929292; }

.search-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .search-box input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
    padding-left: 8px; }
    .search-box input[type="search"] {
      width: 150px;
      border: 1px solid #CCC;
      border-right: none;
      -webkit-border-radius: 3px 0 0 3px;
              border-radius: 3px 0 0 3px; }
    .search-box input[type="submit"] {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      height: 32px;
      width: 32px;
      border: 1px solid #CCC;
      -webkit-border-radius: 0 3px 3px 0;
              border-radius: 0 3px 3px 0;
      background: #EEE;
      background-image: url("../../images/search@2x.png");
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/search.svg");
      background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/search.svg");
      background-image: linear-gradient(transparent, transparent), url("../../images/search.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px; }

.icon {
  display: inline-block; }
  .icon.i-circle-action {
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background-color: #46CEFC; }
  .icon.i-circle-inactive {
    -webkit-border-radius: 100%;
            border-radius: 100%;
    background: #929292; }
  .icon.i-phone {
    background-image: url("../../images/call-icon-inactive@2x.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/call-icon-inactive.svg");
    background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/call-icon-inactive.svg");
    background-image: linear-gradient(transparent, transparent), url("../../images/call-icon-inactive.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14.78px;
    width: 16px;
    height: 16px; }
    .icon.i-phone.i-phone-active {
      background-image: url("../../images/call-icon@2x.png");
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/call-icon.svg");
      background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/call-icon.svg");
      background-image: linear-gradient(transparent, transparent), url("../../images/call-icon.svg"); }
  .icon.i-play {
    background-image: url("../../images/play@2x.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/play.svg");
    background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/play.svg");
    background-image: linear-gradient(transparent, transparent), url("../../images/play.svg");
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 6px 7px;
    width: 16px;
    height: 16px; }
  .icon.i-phone-up {
    background-image: url("../../images/phone-up-small@2x.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/phone-up.svg");
    background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/phone-up.svg");
    background-image: linear-gradient(transparent, transparent), url("../../images/phone-up.svg");
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-size: 9px;
    width: 16px;
    height: 16px; }

.nav-pills li a:hover > .icon.i-phone, .nav-pills li a:focus > .icon.i-phone, .nav-pills li a:active > .icon.i-phone, .nav-pills li.active a > .icon.i-phone {
  background-image: url("../../images/call-icon-white@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/call-icon-white.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/call-icon-white.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/call-icon-white.svg"); }

.well {
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  .well.error {
    background: #F2DEDE;
    border: 1px solid #ebcccc; }
    .well.error p {
      color: #A94442;
      margin-bottom: 10px; }
    .well.error a {
      color: #843534;
      text-decoration: underline;
      font-weight: bold; }

.message-area .well {
  position: absolute;
  width: 100%;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px); }
  .message-area .well.error {
    bottom: 0; }

h2 > .trailing-character {
  font-size: 14px; }

.type-ahead {
  padding: 6px 0;
  position: absolute;
  bottom: 44px;
  width: 90%;
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  display: block;
  background: #FFF;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); }
  .type-ahead > li {
    padding: 4px 12px;
    display: block; }
    .type-ahead > li:after {
      content: "";
      display: table;
      clear: both; }
    .type-ahead > li > * {
      float: left;
      line-height: 24px; }
      .type-ahead > li > *:not(:first-child) {
        margin-left: 10px; }
    .type-ahead > li > p {
      color: #929292;
      font-weight: 300; }
    .type-ahead > li.active {
      background: #46CEFC; }
      .type-ahead > li.active > * {
        color: #FFF;
        border-color: #FFF; }

form.form-sm {
  max-width: 200px; }

form.form-center {
  margin: 0 auto; }

form .form-control, form .input-group-addon {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 6px 10px; }

form .input-sm {
  height: 32px; }

form label {
  color: #929292;
  text-transform: capitalize;
  margin-bottom: 4px; }

form .btn {
  font-weight: 300;
  font-size: 14px; }

.form-group {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 14px; }
  .form-group.group > * {
    float: left; }
  .form-group.flex > * + * {
    margin-left: 10px; }
  .form-group.flex > .btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .form-group > .group-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 18px; }

.page-title {
  font-size: 14px;
  font-weight: bold;
  margin: 16px 0; }

.has-avatar.received .message-body, .has-avatar.received .bubble {
  margin-left: 30px; }

.has-avatar.sent .message-body, .has-avatar.sent .bubble {
  margin-right: 30px; }

.btn-call span {
  padding-left: 24px;
  display: inline-block;
  position: relative; }
  .btn-call span:before {
    content: "";
    width: 18px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center; }

.btn-call.btn-primary span:before {
  background-image: url("../../images/phone-up-colored@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/phone-up-colored.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/phone-up-colored.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/phone-up-colored.svg");
  background-size: 16px; }

.btn-call.btn-danger span:before {
  background-image: url("../../images/phone-down-colored@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/phone-down-colored.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/phone-down-colored.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/phone-down-colored.svg");
  background-size: 18px 7px; }

.is-empty {
  width: 96px;
  height: 48px; }

.has-image {
  padding: 8px 40px 8px 8px; }

.hint {
  font-style: italic;
  opacity: .30; }

.inactive {
  opacity: 0.3; }

.mention {
  font-weight: bold; }

.online-status {
  width: 9px;
  height: 9px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  margin-top: 8px; }
  .online-status.is-offline {
    border: 1px solid #929292; }
  .online-status.is-online {
    background: #93CC93; }
  .online-status.is-away {
    background: #F6A623; }
  .online-status.is-busy {
    background: #D0021B; }
  .online-status.is-error {
    background: url("../../images/error-icon@2x.png") no-repeat;
    background-size: 24px 22px;
    width: 24px;
    height: 22px;
    -webkit-border-radius: 0;
            border-radius: 0;
    margin-top: 1px;
    position: relative;
    top: 6px; }

.nav > li > a + .online-status {
  margin: 0px 25px 0px -5px;
  position: relative;
  z-index: 1; }
  .nav > li > a + .online-status.is-error {
    margin: 0px 10px 0px -5px; }

.is-selected {
  background: #FFFFFF !important;
  color: white !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14); }

.stage-left:after {
  bottom: 0px;
  left: 0px; }

.stage-left:before {
  bottom: -5px;
  left: -5px; }

.stage-left .autogrow {
  margin: 4px 16px 4px 0; }

.stage-right:after {
  bottom: 0px;
  right: 0px; }

.stage-right:before {
  bottom: -5px;
  right: -5px; }

.stage-right .autogrow {
  margin: 4px 0 4px 16px; }

.is-thinking {
  height: 80px; }

.danger {
  color: #A94442 !important; }
