.add-image {
	display: block;
  width: 44px;
  height: 32px;
  position: absolute;
	left: -58px;
	bottom: 8px;
  background: transparent url('../../images/add-image-icon@2x.png') center no-repeat;
  background-size: 44px 32px;
}
