.autogrow {
	border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: transparent;
    resize: none;
    color: #FFF;
    font-size: 17px;
    line-height: 20px;
    height: 20px;
	max-height: 240px;
}
