.avatar {
	position: absolute;
	bottom: 0;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background: $bg-color-avatar;
	vertical-align: bottom;
}

.doctor > .avatar {
	border: 2px solid #FFF;
}

.message.received:not(.last) > .avatar {
	display: none;
}
