.badge {
	position: relative;
	border-radius: 3px 3px 0 3px;
	background: $primary-color; 
	float: right; 
	padding: 2px 5.5px;
	margin-top: 4px;
	margin-right: 4px;

	img {
		width: 9px; 
		height: auto;
	}

	&:after {
		content: "";
	    position: absolute;
	    bottom: 0px;
	    right: -4px;
	    border-style: solid;
	    border-width: 0 4px 5px 0;
	    border-color: #00AAE2 transparent;
	    display: block;
	    width: 0;
	    border-radius: 0 0 3px 0;
	}
}

.icon {
	margin-top: 5px;
}