.bubble {
	padding: 8px;
	border-radius: 24px;
	background: $secondary-color;
	color: #FFF;
	//max-width: 332px;
	max-width: 255px;
	position: relative;

	&:after, &:before {
		content: '';
		background: $secondary-color;
		border-radius: 100%;
		position: absolute;
	}

	&:after {
		width: 12px;
		height: 12px;
	}

	&:before {
		width: 6px;
		height: 6px;
	}

	div {
		display: inline-block;
		line-height: 18px;
		outline: none;
	}

	p {
		margin: 6px 16px;
		float: left;
		background: none;
		border: none;
	}

	img {
		width: 100%;
		width: calc(100% + 48px);
		max-height: 150px;
		margin: -8px -8px 5px -8px;
		border-radius: 24px 24px 0 0;
		object-fit: cover;
	}
}
