.cgm {
	font-size: 28px;
	letter-spacing: -0.17px;
	float: right;

	&.low {
		color: $low-glucose-color;

		&:after {
			background-image: url('../../images/cgm-low.svg');
		}

		&.double:after {
			background-image: url('../../images/cgm-low-double.svg');
		}
	}

	&.high{
		color: $high-glucose-color;

		&:after  {
			background-image: url('../../images/cgm-high.svg');
		}

		&.double:after {
			background-image: url('../../images/cgm-high-double.svg');
		}
	}

	&.normal {
		color: $normal-glucose-color;

		&:after {
			background-image: url('../../images/cgm-normal.svg');
		}

		&.double:after {
			background-image: url('../../images/cgm-normal-double.svg');
		}
	}

	&:after {
		content: '';
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center;
		width: 20px;
		height: 20px;
	}

	&.diagonal:after {
		transform: rotate(45deg);
	}

	&.down:after {
		transform: rotate(180deg);
	}
}