.single-choice, .multiple-choice {
	li {
		background: $opac-color;
		color: $primary-color;
		border-radius: 3px;
		height: 46px;
		line-height: 46px;
		text-align: center;
	}
}

.single-choice {
	li {
		background: #FFF;
		border: 1px solid $bg-color-main;
		color: $primary-color;
	}
}