.help {
	color: #FFF;
	text-align: center;

	h1 {
		font-size: 30px;
		line-height: 29px;
	}

	h2 {
		font-size: 24px;
		line-height: 29px;
	}

	.help-section {
		margin-bottom: 26px;
		padding: 0 10px;

		h2 {
			margin-bottom: 10px;
		}
	}

	.icon {
		margin: 20px 0;
		width: 38px;
		height: 38px;
	}
}