.icon {
	display: inline-block;
	width: 25px; 
	height: 25px;

	&.i-chat {
		@include backgroundImage('chat-icon-blue-bordered');
	}

	&.i-graph {
		@include backgroundImage('graph-icon');
	}

	&.i-lab {
		@include backgroundImage('lab-icon');
	}

	&.i-learn {
		@include backgroundImage('learning-icon');
	}

	&.i-profile {
		@include backgroundImage('profile-icon');
	}

	&.i-settings {
		@include backgroundImage('settings-icon');
	}

	&.i-logout {
		@include backgroundImage('logout-icon');
	}

	&.i-cancel {
		@include backgroundImage('cancel-icon');
		width: 16px;
		height: 16px;
	}

	&.i-add-active {
		@include backgroundImage('add-icon-active');
		background-position: center;
		background-size: contain;
	}


	&.i-left-nav {
		@include backgroundImage('left-nav-icon');
		background-position: center;
		background-size: contain;
		width: 23px;
		height: 23px;
	}

	&.i-right-nav {
		@include backgroundImage('right-nav-icon');
		background-position: center;
		background-size: contain;
		width: 23px;
		height: 23px;
	}

	&.i-media-close {
		@include backgroundImage('media-close-icon');
		background-position: center;
		background-size: contain;
		width: 23px;
		height: 23px;
	}

	&.i-help {
		@include backgroundImage('help-icon');

		&.nav-icon {
			@include backgroundImage('help-icon-blue');
		}
	}
}