.media-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: #FFF;

	.media-controls {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		> div {
			text-align: center;
			margin-top: 10px;
			height: 23px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			margin-top: 0;
		}

		.media-title {
			color: #00AAE2;
			line-height: 23px;
			margin: 0 17px;
		}

		.interaction {
			/*background: rgba(0, 170, 226, 0.3);*/
			width: 23px;
			height: 23px;
			/*border-radius: 100%;*/
		}

		.close-media {
			position: absolute;
			right: 10px;
			top: 10px;
		}
	}

	.media-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}