.message {
	position: relative;
	margin: 5px;
	width: 100%;

	&:after, &:before {
		content: " ";
    	display: table;
	}

	&:after {
		clear: both;
	}

	.name {
		position: relative;
		display: none;
		font-size: $font-size-small;
		margin-bottom: 4px;
		color: #FFF;
	}

	.message-body {
		display: block;
		position: relative;
		padding: 14px 16px;
		font-size: 17px;
		max-width: 70%;
		max-width: calc(90% - 35px);
		width: fit-content;
		background: $bg-color-light;
		border-radius: $border-radius-base;
		box-shadow: 0 1px 1px 0 rgba(164,152,135,.32);
	}

	.message-media {
		background: #FFF;
		padding: 0;

		img {
			max-height: 100%; //148px;
			max-width: 100%; //264px;
			border-radius: $border-radius-base $border-radius-base $border-radius-base 0;
			vertical-align: middle;
		}

		.image-title {
			border-radius: $border-radius-base $border-radius-base 0 0;
			background: $bg-color-light;
			padding: 8px 16px;
		}
	}

	.bubble {
		background: $bg-color-light;
		&:before, &:after {
			background: $bg-color-light;
		}
	}
}

.message.last + .message > .name, .time-stamp + .message > .name {
	display: block;
}

.received {
	padding-left: 35px;

	& + .sent {
		margin-top: 16px;
	}

	.avatar {
		left: 0;
	}
}

.sent {
	& + .received {
		margin-top: 16px;
	}

	.message-body {
		float: right;
		background: $bg-color-dark;
		color: #FFF;
		margin-right: 10px;
	}

	.avatar {
		right: 0;
	}
}

.sent.last {
	> .message-body {
		border-radius: $border-radius-base $border-radius-base 0 $border-radius-base;
		
		&:after {
			content: "";
	    position: absolute;
	    bottom: 0px;
	    right: -7px;
	    border-width: 0 7px 10px 0;
	    border-style: solid;
	    border-color: $bg-color-dark transparent;
	    border-radius: 0 0 $border-radius-base 0;
	    display: block;
	    width: 0;
			box-shadow: 0 1px 0px 0 rgba(164, 152, 135, 0.2);
		}
	}
}
.received.last {
	margin-bottom: 16px;

	> .message-body{
		border-radius: $border-radius-base $border-radius-base $border-radius-base 0;

		&:before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: -7px;
			border-width: 0 0 10px 7px;
			border-style: solid;
			border-color: $bg-color-light transparent;
			border-radius: 0 0 0 $border-radius-base;
			display: block;
			width: 0;
			box-shadow: 0px 1px 0px 0 rgba(164, 152, 135, 0.2);
		}
	}
}

// Makes the tail white for the image messages
.last .message-body.message-media {
	&:after, &:before {
		border-color: #FFF transparent;
	}
}

@media screen and (min-width: 768px) {
	.message {
		.message-body {
			max-width: 60%;
		}
	}
}
