.send-button {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 8px;
  bottom: 7px;
  background: #FFF url('../../images/up-arrow@2x.png') center no-repeat;
  background-size: 13px 15px;
  border-radius: 100%;
}
