.time-frame {
	text-transform: uppercase;
	text-align: center;
	margin: 16px 0;
	font-size: 13px;
	color: #FFF;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

	span {
	    position: relative;
	    display: inline-block;

		&:before, &:after {
		    content: "";
		    position: absolute;
		    top: 50%;
		    width: 9999px;
		    height: 1px;
		    background: #FFF;
		}

		&:before {
		    right: 100%;
		    margin-right: 10px;
		}

		&:after {
		    left: 100%;
		    margin-left: 10px;
		}
	}
}
