.time-stamp {
	display: block;
	color: #FFF;
	font-size: $font-size-small;
	font-weight: 300;
	line-height: $font-size-small;
	text-align: center;
	margin: 16px 0;
}

.chat-section, .team-section {
	.time-stamp:first-of-type {
		margin-top: 8px;
	}
}
