#version {
	position: absolute; 
	bottom: 20px; 
	left: 0; 
	right: 0; 
	margin: 0 auto; 
	text-align: center;

	span {
		font-size: 13px;
	}

	img {
		width: 11px;
		height: 11px;
		margin-left: 16px;
		vertical-align: middle;
		cursor: pointer;
	}
}