@mixin backgroundImage($image) {
	background-image: url("../../images/#{$image}@2x.png");
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/#{$image}.svg");
	background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/#{$image}.svg");
	background-image: linear-gradient(transparent, transparent), url("../../images/#{$image}.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@mixin iconBackground($image) {
  background-image: url("../../images/#{$image}@2x.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), url("../../images/#{$image}.svg");
  background-image: -webkit-linear-gradient(transparent, transparent), url("../../images/#{$image}.svg");
  background-image: linear-gradient(transparent, transparent), url("../../images/#{$image}.svg");
  background-repeat: no-repeat;
}