$bg-color-main: #00BCFC;
$bg-color-avatar: rgba(255,255,255,.5);
$bg-color-light: #CCF1FE;
$bg-color-dark: rgba(0,0,0,.10);
$bg-color-options: rgba(255,255,255,1);
$bg-color-selected: $bg-color-main;

$primary-color: $bg-color-main;
$secondary-color: #00AAE2;
$primary-gray:       #929292;
$selected-color: rgba(255,255,255,1);
$opac-color: rgba(0,0,0,.05);
$helper-color: rgba(85,85,85,.54);


$low-glucose-color: #D03437;
$high-glucose-color: #FBAD10;
$normal-glucose-color: #1CABE0;      


$font-size-small:    11px;
$font-size-base:     14px;
$padding-base:       8px 16px;
$border-radius-base: 3px;
