#app {
	height: 100%;
	display: flex;
	position: relative;
	background: #4ac7f9;
	background: -moz-linear-gradient(top, #4ac7f9 0%, #7cdafa 100%);
	background: -webkit-linear-gradient(top, #4ac7f9 0%,#7cdafa 100%);
	background: linear-gradient(to bottom, #4ac7f9 0%,#7cdafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ac7f9', endColorstr='#7cdafa',GradientType=0 );
	overflow-x: hidden;

	> .flex-wrapper {
		min-width: 360px;
	}

	.flex-wrapper {
		display: flex;
		flex-grow: 1;

		&.column {
			flex-direction: column
		}
	}
}