.main-nav {
	position: relative;
	min-width: 200px;
	background: #FFF;

	ul {
		padding: 4px 6px;
	}

	a {
		display: flex;
		align-items: center;

		text-decoration: none;
		color: $secondary-color;

		padding: 8px 11px;
		margin-bottom: 15px;

		&.active {
			border-radius: 5px;
			background: rgba(0, 170, 226, .14);
		}
	}

	.icon {
		margin-right: 10px;
	}

	&.hide {
		display: none;
	}
}
