#message-area {
	min-height: 152px;
	flex-grow: 1;
	// min-height: 449px;
	// max-height: 449px;
	//background: $bg-color-main;
	padding: 50px 10px 10px 10px;
	overflow-y: auto;

	.message:first-child {
		margin-top: 0;
	}
}
