#options {
	width: 100%;
	position: relative;

	.bubble {
		position: absolute;
		right: 10px;
		bottom: calc(100% - 15px);
	}


	.option-container {
		background: $bg-color-options;
		width: 100%;
		padding: 34px 10px 0px;

		&.hidden {
			background: transparent;

			> * {
				display: none;
			}
		}
	}

	.new-message {
		background: #00AAE2;
		width: 48px;
		height: 48px;
		border-radius: 100%;

		position: absolute;
		left: 10px;
		bottom: calc(100% - 15px);

		.icon {
			display: block;
			width: 16px;
			height: 16px;
			margin: 16px auto 0;
		}
	}

}

@media screen and (min-width: 768px) {
	.option-container {
		float: right;
		max-width: 375px;
	}
}
