.single-choice.column, .multiple-choice.column {
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	> li {
		margin-bottom: 10px;
	}

	&.col-2, &.col-3, &.col-4, &.col-5, &.col-6, &.col-7, &.col-8, &.col-9, &.col-10, &.col-11, &.col-12 {
		li {
			float: left;
			margin: 0 1% 10px;
		}
	}

	&.col-2 {
		li {
			width: 48%;
		}
	}

	&.col-3 {
		li {
			width: 31%;
		}
	}

	&.col-4 {
		li {
			width: 23%;
		}
	}

	&.col-5 {
		li {
			width: 18%;
		}
	}

	&.col-6 {
		li {
			width: 14.6666666667%;
		}
	}

	&.col-7 {
		li {
			width: 12.285%;
		}
	}

	&.col-8 {
		li {
			width: 10.5%;
		}
	}

	&.col-9 {
		li {
			width: 9.11%;
		}
	}

	&.col-10 {
		li {
			width: 8%;
		}
	}

	&.col-11 {
		li {
			width: 7.09%;
		}
	}

	&.col-12 {
		li {
			width: 6.33333333%;
		}
	}
}

.single-choice.row {
	> li {
		width: 47%;
		float: left;
		margin: 0 1.3%;
	}
}

.multiple-choice.row {
	> li {
		float: left;
		margin-right: 5px;
		width: 46px;

		&:first-child {
			margin-left: 5px;
		}
	}
}