.single-choice.column {
	> li {
		margin-bottom: 10px;
	}

	&.col-4 {
		li {
			width: 23%;
			float: left;
			margin: 0 1% 10px;
		}
	}
}

.single-choice.row {
	> li {
		width: 47%;
		float: left;
		margin: 0 1.3%;
	}
}