html, body {
	font-family: 'SF UI Text', sans-serif;
	font-size: 17px;
	height: 100%;
	min-height: 100%;
	background: $bg-color-main;
}

header {
	width: 100%;
	height: 45px;
	background: $bg-color-light;
	text-align: center;
	box-shadow: 0 0.5px 0 0 rgba(0,0,0,.3);
	padding: 10px;
	font-weight: 600;
	position: relative;
}

li {
	list-style-type: none;
}

textarea, div[contenteditable=true] {
	border: 1px solid #CCC;
	border-radius: $border-radius-base;
	outline: none;
	box-shadow: inset 0 1px 0 0 #ECECEC;
	box-sizing: border-box;
	padding: $padding-base;
	width: 100%;
	min-height: 30px;
	max-height: 200px;
}

select {
	width: 100%;
	max-width: 300px;
	height: 32px;
	font-size: $font-size-base;
	border: 1px solid #CCC;
	border-radius: $border-radius-base;
	padding-left: 8px;
	background: $bg-color-main;
}

input, textarea, select {
	outline: none;
}

input, textarea {
	&::placholder {
		color: $placeholder-color;
	}
	&::-webkit-placholder {
		color: $placeholder-color;
	}
	&::-moz-placholder {
		color: $placeholder-color;
	}
	&:-moz-placholder {
		color: $placeholder-color;
	}
	&::-ms-placholder {
		color: $placeholder-color;
	}
}

button {

	&[data-toggle="dropdown"] {
		text-align: left;

		&:after {
			content: "";
			height: 0;
			width: 0;
			border-top: 4px solid #000;
			border-right: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 4px solid transparent;
			position: absolute;
	    top: 50%;
	    margin-top: -2px;
	    right: 8px;
		}
	}
}

