#keyboard {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto;
	max-height: 230px;
	width: 100%;

	z-index: 2;
}

.active-keyboard {
	height: 250px;
}

.active-keyboard #keyboard {
	display: block;
}