.stage-right {
	&:after {
		bottom: 0px;
		right: 0px;
	}

	&:before {
		bottom: -5px;
		right: -5px;
	}

	.autogrow {
		padding: 4px 12px;
		width: 100%;
		box-sizing: border-box;
		text-align: right;
	}
}
