.multiple-choice.row > li {
  float: left;
  margin-right: 5px;
  width: 46px; }
  .multiple-choice.row > li:first-child {
    margin-left: 5px; }

.multiple-choice.column > li {
  margin: 10px; }

.message {
  position: relative;
  margin: 5px;
  width: 100%; }
  .message:after, .message:before {
    content: " ";
    display: table; }
  .message:after {
    clear: both; }
  .message .message-body {
    display: block;
    position: relative;
    padding: 14px 16px;
    font-size: 17px;
    max-width: 85%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #CCF1FE;
    -webkit-border-radius: 3px 3px 3px 0;
            border-radius: 3px 3px 3px 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32);
            box-shadow: 0 1px 1px 0 rgba(164, 152, 135, 0.32); }
  .message .bubble {
    background: #CCF1FE; }
    .message .bubble:before, .message .bubble:after {
      background: #CCF1FE; }

.received + .sent {
  margin-top: 16px; }

.received .message-body {
  -webkit-border-radius: 3px 3px 3px 0;
          border-radius: 3px 3px 3px 0; }
  .received .message-body:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -7px;
    border-width: 0 0 10px 7px;
    border-style: solid;
    border-color: #CCF1FE transparent;
    -webkit-border-radius: 0 0 0 3px;
            border-radius: 0 0 0 3px;
    display: block;
    width: 0; }

.received .avatar {
  left: 0; }

.sent + .received {
  margin-top: 16px; }

.sent .message-body {
  -webkit-border-radius: 3px 3px 0 3px;
          border-radius: 3px 3px 0 3px;
  float: right;
  background: rgba(0, 0, 0, 0.1);
  color: #FFF;
  margin-right: 10px; }
  .sent .message-body:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -7px;
    border-width: 0 7px 10px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
    -webkit-border-radius: 0 0 3px 0;
            border-radius: 0 0 3px 0;
    display: block;
    width: 0; }

.sent .avatar {
  right: 0; }

@media screen and (min-width: 768px) {
  .message .message-body {
    max-width: 60%; } }

.avatar {
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  vertical-align: bottom; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.single-choice li, .multiple-choice li {
  background: rgba(0, 0, 0, 0.05);
  color: #00BCFC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  height: 46px;
  line-height: 46px;
  text-align: center; }

.single-choice li {
  background: #FFF;
  border: 1px solid #00BCFC;
  color: #00BCFC; }

.has-image {
  padding: 8px 40px 8px 8px; }

.is-selected {
  background: #00BCFC !important;
  color: white !important;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14); }

.stage-right:after {
  bottom: 0px;
  right: 0px; }

.stage-right:before {
  bottom: -5px;
  right: -5px; }

.has-avatar .message-body, .has-avatar .bubble {
  margin-left: 30px; }
