$bg-color-main:      #FFFFFF;
$bg-color-avatar:    rgba(255,255,255,.5);
$bg-color-light:     #CCF1FE;
$bg-color-dark:      rgba(0,0,0,.10);
$bg-color-options:   rgba(255,255,255,1);
$bg-color-selected:  $bg-color-main;
$bg-color-team:		 #CE4641;
$bg-color-error:	 #F2DEDE;
$bg-color-chat-log:  #F5F5F5;
$bg-color-tag:		 rgba(70,206,252,.2);

$primary-color:      #46CEFC;
$secondary-color:    #00AAE2;
$primary-gray:       #929292;
$secondary-gray:     #DDDDDD;
$selected-color:     rgba(255,255,255,1);
$opac-color:         rgba(0,0,0,.05);
$helper-color:       rgba(85,85,85,.54);
$danger-color:       #D0021B;
$team-color:		 $bg-color-team;
$error-color:		 #A94442;
$error-link-color: 	 #843534;
$placeholder-color:  #B2B2B2;

$font-size-small:    11px;
$font-size-base:     14px;
$padding-base:       8px 16px;
$border-radius-base: 3px;
